section {
    font-size: 30px;
    text-align: center;
    min-height: 50vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding-inline: 30px;
    padding-block: 20px;
}

section i {
    font-size: 500%;
    color: #00007c;
}

section a {
    color: black;
}

section a:hover {
    color: #00007c;
}