/* General styles */
.pedidos {
  padding: 30px;
  background-color: #f9f9f9;
  min-height: 100vh; /* Ocupa toda la pantalla */
}



.pedido {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pedido:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.pedido h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #444;
  margin-bottom: 15px;
}

.pedido p {
  font-size: 1rem;
  color: #555;
  margin: 8px 0;
}

.detalles_pedido {
  margin-top: 20px;
  border-top: 2px solid #e1e1e1;
  padding-top: 20px;
}

.detalles_pedido h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.detalles_pedido ul {
  list-style-type: none;
  padding: 0;
}

.detalles_pedido li {
  background-color: #fafafa;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

.detalles_pedido li:hover {
  background-color: #f1f1f1;
}

.detalles_pedido li p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.detalles_pedido li strong {
  font-weight: 600;
  color: #333;
}

/* Media Queries */
@media (max-width: 768px) {
  .pedido h3 {
    font-size: 1.3rem;
  }

  .detalles_pedido h4 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .pedido {
    padding: 15px;
  }

  h2 {
    font-size: 1.6rem;
  }

  .pedido h3 {
    font-size: 1.2rem;
  }
}
