h2 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #1e1c7a;
}

#break_nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 13px;
}

#break_nav .col {
    display: flex;
    flex-direction: column;
}

.form-control ,
.form-select {
    font-size: 100%;
}

.lblchoosie {
    margin-bottom: 10px;
}

.choosie {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    /* gap: 5px; */
}

.input-group input {
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.searchi {
    background-color: #1e1c7a;
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
}

.input-group #button-addon2 {
    border-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search_loupe {
    width: 18px;
    height: 18px;
    filter: brightness(0) invert(1); 
}

#add_btn {
    background-color: #1e1c7a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#add_btn:hover {
    background-color: #218aec;
}

/* Estilos de la tabla */
.table-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000006c;
}

table {
    width: 100%;
    /* border-collapse: collapse; */
    font-size: 12px;
    color: #333;
    border: 1px solid grey;
    border-radius: 20px;
}

table thead {
    background-color: #1e1c7a;
    color: white;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    font-weight: bold;
    text-align: center;
}

tr {
    border-bottom: 1px solid #ddd;
    text-align: center; 
    vertical-align: middle;
}

table tbody tr:hover {
    background-color: #f0f2f5;
}

table td i {
    font-size: 18px;
}

table td:not(.celda_texto_amplio) ,
table td:not(.celda_texto_amplio) {
    text-align: center;
}

table .celda_texto_amplio {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr .celda_texto_bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.celda_texto_bloque img {
    height: 4vw;
    width: 4vw;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}

.acciones {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.acciones * {
    display: flex;
}

.acciones a {
    color: black;
    text-decoration: none;
}

.acciones img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.acciones img:hover {
    opacity: 0.7;
}

.acciones form {
    display: flex;
}

.acciones form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:hover img {
    opacity: 0.7;
}


.opciones_column {
    position: sticky;
}


