{% extends 'maestra_administrador.html' %}
{% block titulo %}
  Agregar Empleado
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="static/css/administrativa/formulario.css" />
{% endblock %}

{% block contenido %}
<section class="h_section" id="mainSection">
  <h2 class="fw-bolder">Agregar Empleado</h2>

  <!-- Mostrar mensaje de error si existe -->
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <form action="{{ url_for('guardar_empleado') }}" method="post" enctype="multipart/form-data">
    <div class="form-grid" id="col_add">

      <div class="row">
        <div class="col">
          <label for="nombres">Nombres:</label>
          <input required type="text" class="input" placeholder="Nombres" name="nombres" id="nombres"
            value="{{ nombres }}">
        </div>
        <div class="col">
          <label for="apellidos">Apellidos:</label>
          <input required type="text" class="input" placeholder="Apellidos" name="apellidos" id="apellidos"
            value="{{ apellidos }}">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="doc_identidad">Documento de Identidad:</label>
          <input required type="text" class="input" placeholder="Documento de identidad" name="doc_identidad"
            id="doc_identidad" value="{{ doc_identidad }}">
        </div>
        <div class="col">
          <label for="telefono">Teléfono:</label>
          <input required type="text" class="input" placeholder="Teléfono" name="telefono" id="telefono"
            value="{{ telefono }}">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="correo">Correo Electrónico:</label>
          <input required type="email" class="input" placeholder="Correo" name="correo" id="correo"
            value="{{ correo }}">
        </div>
        <div class="col">
          <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
          <input required type="date" class="input" placeholder="Fecha de nacimiento" name="fecha_nacimiento"
            id="fecha_nacimiento" value="{{ fecha_nacimiento }}">
        </div>
      </div>

      <div class="row">
        <!-- <div class="col">
          <label for="contraseña">Contraseña:</label>          
          <div class="input-group">
            <input type="password" class="input form-control" placeholder="Contraseña" value="{{ contraseña }}"  name="contraseña" id="contraseña">
            <button class="btn btn-outline-secondary" type="button" onclick="togglePassword()">
              <i id="toggleIcon" class="fas fa-eye"></i>
            </button>
          </div>
        </div> -->

        <div class="col">
          <label for="genero">Género:</label>
          <select name="genero" id="genero" class="input" required>
            <option value="1" {% if genero=='1' %}selected{% endif %}>Masculino</option>
            <option value="0" {% if genero=='0' %}selected{% endif %}>Femenino</option>
          </select>
        </div>
      
        <div class="col seccionImg">
          <label for="img_usuario">Imagen de Usuario (opcional):</label>
          <input type="file" class="campoImg" name="img_usuario" id="img_usuario"/>
          <div class="espacio_img">
            <img id="previewImg" src="" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col" id="sbmt">
          <div class="form-buttons">
            <a href="{{ url_for('empleados_listado') }}" id="backbtn">Volver</a>
            <button type="submit" class="button is-primary">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
{% endblock %}

{% block scripts %}

<script src="/static/js/imgsCRUDvistaprevia.js"></script>
<script>
  function togglePassword() {
    const passwordField = document.getElementById("contraseña");
    const toggleIcon = document.getElementById("toggleIcon");

    if (passwordField.type === "password") {
        passwordField.type = "text";
        toggleIcon.classList.remove("fa-eye");
        toggleIcon.classList.add("fa-eye-slash");
    } else {
        passwordField.type = "password";
        toggleIcon.classList.remove("fa-eye-slash");
        toggleIcon.classList.add("fa-eye");
    }
  }
</script>


{% endblock %}