{% extends 'maestra_administrador.html' %}
{% block titulo %}
  Agregar Imágenes de Novedad
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/formulario.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder">Agregar Imágenes a la Novedad ID: {{ novedad_id }}</h2>
    
    <form id="formAgregarImagen" action="{{ url_for('guardar_img_novedad') }}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="novedad_id" value="{{ novedad_id }}">
      <div class="form-grid" id="col_add">
        
        <div class="row">
          <div class="col">
            <label for="nomImagen">Nombre de la Imagen:</label>
            <input required type="text" class="input" placeholder="Nombre de la imagen" name="nomImagen" id="nomImagen" />
          </div>

          <div class="col">
            <label for="tipo_img_novedad">Tipo de Imagen:</label>
            <select class="input" name="tipo_img_novedad" id="tipo_img_novedad">
              <option value="" disabled selected>Selecciona un tipo de imagen</option>
              {% for tipo in tipos_img_novedad %}
                <option value="{{ tipo[0] }}">{{ tipo[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col seccionImg">
            <label for="imagen">Subir Imagen:</label>
            <input required type="file" class="campoImg" name="imagen" id="imagen" accept="image/*" />
            
            <div class="espacio_img espacio_img_multi">
            </div>
          
          </div>
        </div>

        <div class="row">
          <div class="col" id="sbmt">
            <div class="form-buttons">
              <a href="{{url_for('img_novedades_listado', novedad_id=novedad_id)}}" id="backbtn">Volver</a>
              <button type="submit" class="button is-primary">Agregar Imagen</button>
            </div>
          </div>
        </div>

      </div>
    </form>

    <div id="overlayImage" class="overlayImage" onclick="closeImage()">
      <img id="enlargedImage" class="enlarged-image" />
    </div>

  </section>
{% endblock %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/js/imgsCRUDvistaprevia.js"></script>
  <script src="/static/js/imgsCRUDimagencompleta.js"></script>

  <!-- {% if imagen_agregada %}
    <script>
      // Mostrar un cuadro de confirmación si ya se agregó una imagen
      window.onload = function() {
        if (confirm("La imagen ha sido agregada exitosamente. ¿Quieres agregar otra imagen?")) {
          // Limpiar el formulario si el usuario quiere agregar otra imagen
          document.getElementById("formAgregarImagen").reset();
        } else {
          // Redirigir al listado de novedades si el usuario no quiere agregar otra imagen
          window.location.href = "{{ url_for('novedades_listado') }}";
        }
      };
    </script>
  {% endif %} -->
{% endblock %}
