{% extends 'maestra_administrador.html' %}
{% block titulo %}
  Agregar Categoria
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/agregar.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder">Agregar Categoría</h2>
    <form action="{{ url_for('guardar_categoria') }}" method="post">
      <div class="form-grid" id="col_add">
        <!-- Primera columna -->
        <div class="row">
          <div class="col">
            <label for="categoria">Nombre de la Categoría:</label>
            <input required type="text" class="input" placeholder="Nombre de la Categoría" name="categoria" id="categoria" />
          </div>
        </div>
        <!-- Disponibilidad -->
        <div class="row">
          <div class="col">
            <label for="disponibilidad">Disponibilidad:</label>
            <div class="radio-group">
              <label><input type="radio" name="disponibilidad" value="1" id="disponibilidad1" checked />Vigente</label>
              <label><input type="radio" name="disponibilidad" value="0" id="disponibilidad2" />No Disponible</label>
            </div>
          </div>
        </div>
        <!-- Segunda fila -->
        <div class="row">
          <div class="col">
            <label for="faicon_cat">Clase del Icono:</label>
            <input required type="text" class="input" placeholder="Clase del Icono" name="faicon_cat" id="faicon_cat" />
          </div>
        </div>
        <!-- Descripción -->
        <div class="row">
          <div class="col">
            <label for="descripcion">Descripción:</label>
            <textarea placeholder="Ingrese texto aquí" name="descripcion" id="descripcion"></textarea>
          </div>
        </div>
        <!-- Botones -->
        <div class="row">
          <div class="col">
            <div class="form-buttons">
              <a href="{{ url_for('categorias') }}" id="backbtn">Volver</a>
              <button type="submit" class="button is-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/static/js/admin_productos.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Select2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#faicon-cat').select2({
        templateResult: formatIcon,
        templateSelection: formatIcon,
        width: '100%' // Ajusta el ancho si es necesario
      })
    
      function formatIcon(option) {
        if (!option.id) {
          return option.text
        }
        var $option = $('<span><i class="' + $(option.element).data('icon') + '"></i> ' + option.text + '</span>')
        return $option
      }
    })
  </script>
{% endblock %}
