{% extends 'maestra_administrador.html' %}
{% block titulo %}
  Agregar Categoria
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/agregar.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder" style="margin-top: 0.5rem;">Agregar SubCategoria</h2><br /><br /><br />
    <form action="{{ url_for('guardar_subcategoria') }}" method="post">
      <div class="form-grid" id="col_add">
        <!-- Primera columna -->
        <div class="row">
          <div class="col">
            <label for="nombre">Nombre:</label><br />
            <input required type="text" class="input" placeholder="Nombre de la Subcategoría" name="nombre" id="nombre" />
          </div>

          <div class="col">
            <label for="disponibilidad">Disponibilidad:</label><br />
            <div class="radio-group">
              <label for="disponible" style="color: #000; font-weight: lighter;"><input type="radio" name="disponibilidad" value="1" id="disponible" checked />Disponible</label>
              <label for="no_disponible" style="color: #000; font-weight: lighter;"><input type="radio" name="disponibilidad" value="0" id="no_disponible" />No Disponible</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="faicon_subcat">Clase del Icono:</label><br /> <!-- Bootstrap -->
            <input required type="text" class="form-control" placeholder="Clase del icono" name="faicon_subcat" id="faicon_subcat" />
          </div>

          <div class="col">
            <label for="categoria_id" class="fw-bolder lblchoosie">Categoría</label><br />
            <select class="form-select" name="categoria_id" id="categoria_id">
              {% for categoria in categorias %}
                <option value="{{ categoria.0 }}">{{ categoria.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="col" id="sbmt">
          <div class="form-buttons">
            <a href="{{ url_for('categorias') }}" id="backbtn">Volver</a>
            <button type="submit" class="button is-primary">Agregar</button>
          </div>
        </div>
      </div>
    </form>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/static/js/admin_productos.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Select2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
