{% extends "maestra_administrador.html" %}
{% block titulo %}
Agregar Tipo de Imagen de Novedad
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/formulario.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder" style="margin-top: 0.5rem;">Agregar Tipo de Imagen de Novedad</h2>
    <form action="{{ url_for('guardar_tipo_img_novedad') }}" method="post">
      <div class="form-grid" id="col_add">
        
        <div class="row">
          <div class="col">
            <label for="tipo">Tipo de Imagen:</label>
            <input required type="text" class="input" placeholder="Tipo de imagen" name="tipo" id="tipo">
          </div>
        </div>

        <div class="row">
          <div class="col" id="sbmt">
            <div class="form-buttons">
              <a href="{{ url_for('tipos_img_novedad_listado') }}" id="backbtn">Volver</a>
              <button type="submit" class="button is-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
{% endblock %}
