{% extends 'maestra_administrador.html' %}
{% block titulo %}
  Agregar Novedad
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="/static/css/administrativa/formulario.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder">Agregar Novedad</h2>
    <form action="{{ url_for('guardar_novedad') }}" method="post" enctype="multipart/form-data">
      <div class="form-grid" id="col_add">
        <div class="row">
          <div class="col">
            <label for="nombre">Nombre de la novedad:</label>
            <input required type="text" class="input" placeholder="Nombre de la novedad" name="nombre" id="nombre" />
          </div>

          <div class="col">
            <label for="tipo_novedad">Tipo de Novedad:</label>
            <select class="input" name="tipo_novedad" id="tipo_novedad">
              <option value="" disabled selected>Selecciona un tipo de novedad</option>
              {% for tipo in tipos_novedad %}
                <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>




        <div class="row">
          <div class="col column_text">
            <div class="row">
              <div class="col">
                <label for="titulo">Título:</label>
                <input required type="text" class="input" placeholder="Título" name="titulo" id="titulo" />
              </div>

            </div>

            <div class="row">
              <div class="col">
                <label for="fecha_inicio">Fecha de Inicio:</label>
                <input required type="date" class="input" name="fecha_inicio" id="fecha_inicio" />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
                <input required type="date" class="input" name="fecha_vencimiento" id="fecha_vencimiento" />
              </div>
            </div>
          </div>
          <div class="col">
            <label for="terminos">Términos y Condiciones:</label>
            <textarea required class="input" placeholder="Términos y condiciones" name="terminos" id="terminos"></textarea>
          </div>
        </div>





        <div class="row">
          <div class="col">
            <label for="marca">Marca:</label>
            <select class="input" name="marca" id="marca">
              <option value="0" disabled selected>Selecciona una marca</option>
              {% for marca in marcas %}
                <option value="{{ marca[0] }}">{{ marca[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col">
            <label class="fw-bolder lblchoosie">Categoría</label>
            <select class="input" aria-label="Default select example" id="categorySelect">
              <option value="0" selected>Todos</option>
              {% for categoria in categorias %}
              <option value="{{categoria[0]}}">{{categoria[1]}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col">
            <label for="subcategoria">Subcategoría:</label>
            <select class="input" name="subcategorySelect" id="subcategorySelect">
              <option value="" disabled selected>Selecciona una subcategoría</option>
              {% for subcategoria in subcategorias %}
                <option value="{{ subcategoria.0 }}" data-category="{{subcategoria[4]}}">{{ subcategoria.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>








        <div class="row">
          <div class="col seccionImg">
            <label for="">Subir imagenes (Al menos 1):</label>
            <input required type="file" class="campoImg" name="imgNovedad" id="imgNovedad" multiple accept="image/*" />
            
            <div class="espacio_img espacio_img_multi">
            </div>

          </div>
        </div>





        <div class="row">
          <div class="col" id="sbmt">
            <div class="form-buttons">
              <a href="{{ url_for('novedades_listado') }}" id="backbtn">Volver</a>
              <button type="submit" class="button is-primary">Agregar</button>
            </div>
          </div>
        </div>



      </div>
    </form>

    <div id="overlayImage" class="overlayImage" onclick="closeImage()">
      <img id="enlargedImage" class="enlarged-image" />
    </div>

  </section>
{% endblock %}

{% block scripts %}
  <script src="/static/js/filtroCRUDListado.js"></script>
  <script src="/static/js/imgsCRUDvistaprevia.js"></script>
  <script src="/static/js/fechaCRUDnovedades.js"></script>
  <script src="/static/js/imgsCRUDimagencompleta.js"></script>
{% endblock %}
