{% extends "maestra_general.html" %}

{% block titulo %} 
    {{anuncio[1]}}
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="static/css/anuncios.css">
{% endblock %}

{% block contenido %}   
<main id="anunciosM">
    <section id="anuncio-section">
        <a href="{{url_for('anuncios')}}" class="anuncio-link">Ver todos los anuncios</a>
        <div class="anuncio-item grande">
            <div class="anuncio-content">
                <img src="{{anuncio[7]}}" alt="{{anuncio[1]}}" class="anuncio-img">
                <div class="anuncio-text">
                    <h2>{{anuncio[1]}}</h2>
                    <p class="vigencia">Vigente desde {{anuncio[2]}} hasta {{anuncio[3]}}</p>
                    <p>{{anuncio[4]}}</p>
                </div>
            </div>
        </div>
        <div class="terms">
            <h3><i class="fa-solid fa-file-contract"></i> TÉRMINOS Y CONDICIONES</h3>
            <p>{{anuncio[4]}}</p>
        </div>
    </section>
</main>
{% endblock %}
