{% extends "maestra_general.html" %}

{% block titulo %} 
    Anuncios 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/anuncios.css">
{% endblock %}

{% block contenido %}
<main>
    <div class="anuncios-grid">
        {% for anuncio in anuncios %}
            <a href="{{url_for('anuncio', id=anuncio[0])}}">
                <div class="anuncio-item {% if loop.index == 1 %}grande{% endif %}">
                    <div class="anuncio-image-container">
                        <img src="{{anuncio[1]}}" alt="{{anuncio[2]}}">
                    </div>
                    <div class="anuncio-details">
                        <h3>{{anuncio[2]}}</h3>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</main> 
{% endblock %}
