{% extends "maestra_general.html" %}

{% block titulo %} 
    {{anuncio[1]}} 
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="static/css/anuncioSelect.css">
{% endblock %}

{% block contenido %}
    <main id="anuncioM">
        <section id="anuncio-section">
            <a href="{{url_for('anuncios')}}" class="anuncio-link">Ver todos los anuncios</a>
            <div class="anuncio">
                <div class="anuncio-content">
                    <img src="{{anuncio[7]}}" alt="Imagen del anuncio" class="anuncio-img">
                    <div class="anuncio-text">
                        <h2>{{anuncio[1]}}</h2>
                        <p>{{anuncio[8]}}</p>
                    </div>
                </div>
            </div>
            <div class="terms">
                <h3><i class="fa-solid fa-file-contract"></i> Información del Anuncio</h3>
                <p>Valido desde el <b>{{anuncio[2]}}</b> al <b>{{anuncio[3]}}</b></p>
                <p>{{anuncio[4]}}</p>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <!-- Aquí puedes agregar tus scripts personalizados si los necesitas -->
{% endblock %}
