{% extends "maestra_general.html" %}

{% block titulo %} 
    Catalogo 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="/static/css/stylesCatalogue.css">
    <link rel="stylesheet" href="static/css/stylesProductCard.css">
{% endblock %}

{% block contenido %}
    <section class="body_page">
        <article id="general_catalogue" class="article_catalogue">
            {% if nombreBusqueda %}
            <p class="resultado_busqueda">Productos relacionados con: "<b>{{nombreBusqueda}}</b>"</p>
            {% endif %}
            <div class="catalogue_product">

                <div class="catalogue_filters">
                    <div class="ctlg_filters_head"> 
                        <i class="fa-solid fa-filter"></i>
                        <span>
                            Filtros
                        </span>
                        <hr>
                        <span>
                            Resultados: 
                            <b id="cantProductsCatalogue">{{productos | length}}</b>
                        </span>
                    </div>

                    <div class="ctlg_filters_content">

                        <div class="ctlg_filters_element">
                            <i class="fa-solid fa-list"></i>
                            <p>CATEGORIAS</p>
                            <i class="fa-solid fa-plus"></i>
                        </div>

                        <div class="ctlg_filters_subcontent ctlg_filters_subcontent_hidden">

                            {% for categoria in categoriasFiltro %}
                                <div class="ctlg_filters_subelement filter_cat"  data-category="{{categoria[0]}}">
                                    <i class="{{categoria[2]}}"></i>
                                    {{categoria[1]}}
                                    <input type="checkbox" value="{{categoria[0]}}">
                                </div>
                            {% endfor %}

                        </div>
                        
                        <div class="ctlg_filters_element">
                            <i class="fa-solid fa-table-list"></i>
                            <p>SUBCATEGORIAS</p>
                            <i class="fa-solid fa-plus"></i>
                        </div>

                        <div class="ctlg_filters_subcontent ctlg_filters_subcontent_hidden">
                            {% for categoria in categoriasFiltro %}
                                {% for subcategoria in categoria[4] %}
                                    <div class="ctlg_filters_subelement filter_subcat" data-category="{{subcategoria[3]}}" >
                                        <i class="{{subcategoria[2]}}"></i>
                                        {{subcategoria[1]}}
                                        <input type="checkbox" value="{{subcategoria[0]}}">
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>

                        <div class="ctlg_filters_element">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <p>GAMA DE PRECIOS</p>
                            <i class="fa-solid fa-plus"></i>
                        </div>

                        <div class="ctlg_filters_subcontent ctlg_filters_subcontent_hidden">
                            <label for="min_price">Mín:</label>
                            <input type="number" id="min_price" min="0" placeholder="S/. 0">
                        
                            <label for="max_price">Máx:</label>
                            <input type="number" id="max_price" min="0" placeholder="S/. 9999">
                        </div>

                    </div>
                    
                    <div class="ctlg_filters_clean">
                        Limpiar Filtros
                    </div>
                </div>

                <div class="catalogue_content">
                    <div class="ctlg_order">

                        <div class="ctlg_select">
                            <p>Ordenar por:</p>
                            <form method="GET" action="{{ url_for('general.catalogo') }}">
                                <select id="ctlg_products_order" name="ctlg_products_order"
                                    {% if nombreBusqueda %}
                                    disabled
                                    {% endif %}
                                >
                                    <option value="1" {% if request.args.get('ctlg_products_order') == '1' %}selected{% endif %}>Más Recientes</option>
                                    <option value="2" {% if request.args.get('ctlg_products_order') == '2' %}selected{% endif %}>Más Populares</option>
                                    <option value="3" {% if request.args.get('ctlg_products_order') == '3' %}selected{% endif %}>Desde el Menor Precio</option>
                                    <option value="4" {% if request.args.get('ctlg_products_order') == '4' %}selected{% endif %}>Desde el Mayor Precio</option>
                                    <option value="5" {% if request.args.get('ctlg_products_order') == '5' %}selected{% endif %}>A - Z</option>
                                    <option value="6" {% if request.args.get('ctlg_products_order') == '6' %}selected{% endif %}>Z - A</option>
                                </select>
                                <button type="submit" style="display: none;">Ordenar</button> <!-- Botón oculto para permitir el envío -->
                            </form>
                        </div>

                        <div class="ctlg_pagination">
                            <p class="page-item previous-page disable">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fa-solid fa-caret-left"></i>
                                </a>
                            </p>
                            
                            <p class="page-item next-page">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fa-solid fa-caret-right"></i>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="gallery_product" id="gallery_product">
                        
                        {% for producto in productos %}

                        <div class="product" data-subcategory="{{producto[6]}}" data-category="{{producto[8]}}" 
                        {% if producto[4] %}
                            data-price="{{producto[4]}}" 
                        {% else %}
                            data-price="{{producto[3]}}"
                        {% endif %}
                        >
                            <a class="product_info" href="{{url_for('producto', id=producto[0])}}">
                                <img class="product_pic" src="{{ producto[7] }}" alt="{{producto[1]}}">

                                <p class="product_name">
                                    {{producto[1]}}
                                </p>

                                {% if producto[2] %}
                                    <div class="product_price price_regular">
                                        <p class="product_price_title">
                                            Regular
                                        </p>
                                        <p class="product_price_number">
                                            S/. {{  producto[2] | int  }}
                                            <sup>.{{ "{:.2f}".format(producto[2]).split('.')[1] }}</sup>
                                        </p>
                                    </div>
                                {% endif %}

                                <div class="product_price price_online">
                                    <p class="product_price_title">
                                        Online
                                    </p>
                                    <p class="product_price_number">
                                        S/. {{ producto[3] | int }}
                                        <sup>.{{ "{:.2f}".format(producto[3]).split('.')[1] }}</sup>
                                    </p>
                                </div>

                                {% if producto[4] %}
                                    <div class="product_price price_for_sale">
                                        <p class="product_price_title">
                                            Oferta
                                        </p>
                                        <p class="product_price_number">
                                            S/. {{ producto[4] | int }}
                                            <sup>.{{ "{:.2f}".format(producto[4]).split('.')[1] }}</sup>
                                        </p>
                                    </div>
                                {% endif %}

                            </a>
                            <form action="{{ url_for('agregar_a_lista_deseos') }}" method="POST">
                                <div class="" id="heart">
                                    <input type="hidden" name="producto_id" value="{{ producto.0 }}" data-product-id="{{ producto.0 }}" />
                                    <button type="submit" class="product_option product_option_fav">
                                        <i class="{% if producto.0 in lista_deseos_ids %} fa-solid fa-heart fav-active {% else %} fa-regular fa-heart {% endif %}"></i>
                                    </button>
                                </div>
                            </form>
                            
                            <form class="product_form_add" action="{{url_for('agregar_carrito')}}" method="post">
                                <input type="hidden" name="producto_id" value="{{producto.0}}" data-product-id="{{ producto.0 }}" />
                                <button type="submit" class="product_option product_option_add" id="cant_aumentar">
                                <i class="fa-solid fa-plus"></i>
                                </button>
                            </form>
                        </div>

                        {% endfor %}

                    </div>
                    
                    <div class="ctlg_pagination">
                        <p class="page-item previous-page disable">
                            <a class="page-link" href="javascript:void(0)">
                                <i class="fa-solid fa-caret-left"></i>
                            </a>
                        </p>
                        
                        <p class="page-item next-page">
                            <a class="page-link" href="javascript:void(0)">
                                <i class="fa-solid fa-caret-right"></i>
                            </a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="return_up_button">
                <i class="fa-solid fa-chevron-up"></i>
            </div>
        </article>
    </section>
{% endblock %}

{% block scripts %} 
    <script src="/static/js/scriptCatalogue.js"></script>
    <script src="/static/js/scriptCataloguePagination.js"></script>
{% endblock %}