{% extends "maestra_general.html" %}

{% block titulo %} 
    Contáctanos 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="/static/css/registrate.css">
    <link rel="stylesheet" href="/static/css/contactanos.css">
{% endblock %}

{% block contenido %}
    <section class="body_page section_coment">
        <form class="form_coment" action="{{ url_for('admin_comentario.guardar_comentario') }}" method="post">
            <div id="form_logo">
                <img src="static/img/elementos/iconDomus.png" alt="logo" id="logo_form">
            </div>
            <h1>Envíanos tus comentarios</h1>
            <div class="comentarios_span"><span>Trataremos de comunicarnos contigo lo antes posible</span></div>
            <div id="form_content">
                <input type="text" placeholder="Nombres" name="nombres" required>
                <input type="text" placeholder="Apellidos" name="apellidos" required>
                <input type="email" placeholder="Email" id="email" name="email" required>
                <input type="tel" id="telefono" name="telefono" placeholder="Número de celular" pattern="9[0-9]{8}" required>

                <!-- ComboBox dinámico de motivos -->
                <select class="cbo_motivo" name="motivo_comentario_id" required>
                    <option value="" disabled selected>Selecciona un motivo</option>
                    {% for motivo in motivos %}
                        <option value="{{ motivo[0] }}">{{ motivo[1] }}</option> <!-- motivo[0] es el ID y motivo[1] es el nombre del motivo -->
                    {% endfor %}
                </select>
            </div>

            <textarea id="comentarios" name="mensaje" rows="4" cols="50" placeholder="Escribe tu mensaje" required></textarea>

            <input type="submit" value="Enviar comentarios">
        </form>
    </section>
{% endblock %}

{% block scripts %} 
    <script src="js/registro.js"></script>
{% endblock %}
