{% extends "maestra_administrador.html" %}
{% block titulo %} Dashboard {% endblock %}
{% block contenido %}

<section class="dashboard_content">

    <div class="dashboard_item">
        <p>Nuestros Productos</p>
        <div class="dshbd_item_content">
            <a href="{{url_for('productos')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Productos</p>
            </a>
            <a href="{{url_for('marcas')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Marcas</p>
            </a>
            <a href="{{url_for('novedades_listado')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Novedades</p>
            </a>
        </div>
    </div>

    <div class="dashboard_item">
        <p>Nuestros Clientes</p>
        <div class="dshbd_item_content">
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Clientes</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Compras y Pedidos</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Comentarios</p>
            </a>
        </div>
    </div>

    <div class="dashboard_item">
        <p>Informacion de Empresa</p>
        <div class="dshbd_item_content">
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Informacion Principal</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Empleados</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Garantias</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Puntos de venta</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Preguntas y Respuestas</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Terminos y Condiciones</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Reclamos</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Redes Sociales</p>
            </a>
        </div>
    </div>
    
    <div class="dashboard_item">
        <p>Datos Adicionales</p>
        <div class="dshbd_item_content"> 
            <a href="{{url_for('categorias')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Categorias y Subcategorias</p>
            </a>          
            <a href="{{url_for('caracteristicas')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Caracteristicas para Productos</p>
            </a>
            <a class="falta" href="{{url_for('error_adm')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Tipos de Novedades</p>
            </a>
            <a href="{{url_for('tipos_img_novedad_listado')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Tipos de Imagenes de Novedades</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Motivos de Comentarios</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Tipos de Usuarios</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Metodos de Pago</p>
            </a>
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Estados de Pedido</p>
            </a>
        </div>
    </div>
    





<!-- 


    <div class="dashboard_item">
        <p>Productos</p>
        <div class="dshbd_item_content">
            a
        </div>
    </div>

    <div class="dashboard_item">
        <p>Marcas</p>
        <div class="dshbd_item_content">
            a
        </div>
    </div>

    <div class="dashboard_item">
        <p>Categorias y Subcategorias</p>
        <div class="dshbd_item_content">
            a
        </div>
    </div>

    <div class="dashboard_item">
        <p>Comentarios</p>
        <div class="dshbd_item_content">
            a
        </div>
    </div>

    <div class="dashboard_item">
        <p>Novedades</p>
        <div class="dshbd_item_content">
            a
        </div>
    </div>
    
    <div class="dashboard_item">
        <p>Clientes</p>
        <div class="dshbd_item_content">
            a
        </div>
    </div>

    <div class="dashboard_item">
        <p>Compras y Pedidos</p>
        <div class="dshbd_item_content">
            a
        </div>
    </div>

    <div class="dashboard_item">
        <p>Empleados</p>
        <div class="dshbd_item_content">
            a
        </div>        
    </div>

    <div class="dashboard_item">
        <p>Informacion de Empresa</p>
        <div class="dshbd_item_content">
            a
        </div>
    </div>
    
     -->
    
    
    
    


</section>

{% endblock %}