{% extends "maestra_administrador.html" %}
{% block titulo %} Dashboard {% endblock %}
{% block contenido %}

<section class="dashboard_content">

    <div class="dashboard_item">
        <p>Nuestros Productos</p>
        <div class="dshbd_item_content">
            <a href="{{url_for('productos')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Productos</p>
            </a>
            <a href="{{url_for('marcas')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Marcas</p>
            </a>
            <a href="{{url_for('novedades_listado')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Novedades</p>
            </a>
        </div>
    </div>

    <div class="dashboard_item">
        <p>Nuestros Clientes</p>
        <div class="dshbd_item_content">
            <a class="falta" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Clientes</p>
            </a>
            <a class="medio" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Compras y Pedidos</p>
            </a>
            <a class="" href="{{url_for('comentarios_listado')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Comentarios</p>
            </a>
        </div>
    </div>

    <div class="dashboard_item">
        <p>Informacion de Empresa</p>
        <div class="dshbd_item_content">
            <a href="{{url_for('listado_datos_principales')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Datos Principales</p>
            </a>
            <a href="{{url_for('listado_tipo_contenido_info')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Tipos de Contenido Informativo</p>
            </a>
            <a href="{{url_for('listado_contenido_info')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Contenido Informativo</p>
            </a>
            <a class="medio" href="{{url_for('dashboard')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Empleados</p>
            </a>
            <a href="{{url_for('listado_redes_sociales')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Redes Sociales</p>
            </a>
        </div>
    </div>
    
    <div class="dashboard_item">
        <p>Datos Adicionales</p>
        <div class="dshbd_item_content"> 
            <a href="{{url_for('categorias')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Categorias y Subcategorias</p>
            </a>          
            <a href="{{url_for('caracteristicas')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Caracteristicas para Productos</p>
            </a>
            <a class="medio" href="{{url_for('error_adm')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Tipos de Novedades</p>
            </a>
            <a href="{{url_for('tipos_img_novedad_listado')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Tipos de Imagenes de Novedades</p>
            </a>
            <a href="{{url_for('motivos_comentario_listado')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Motivos de Comentarios</p>
            </a>
            <a href="{{url_for('listado_tipos_usuario')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Tipos de Usuarios</p>
            </a>
            <a href="{{url_for('listado_metodo_pago')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Metodos de Pago</p>
            </a>
            <a href="{{url_for('listado_estado_pedido')}}">
                <i class="fa-solid fa-caret-right"></i>
                <p>Estados de Pedido</p>
            </a>
        </div>
    </div>
    


</section>

{% endblock %}