{% extends "maestra_general.html" %}

{% block titulo %} 
    Devoluciones 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/servicioCliente.css">
{% endblock %}

{% block contenido %}
    <section>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Devoluciones y Cambios</h2>
        <div class="content">
        <p>En Domus Market, queremos que estés completamente satisfecho con tu compra. Si por alguna razón no estás
            contento, puedes devolver o cambiar los productos según nuestras políticas:</p>
        <h4>1. Devoluciones</h4>
        <p>Los productos pueden ser devueltos dentro de los 30 días posteriores a la compra. Deben estar en su estado
            original, sin signos de uso y en su empaque original.</p>
        <h4>2. Cambios</h4>
        <p>Si necesitas cambiar un producto por otra talla, color o modelo, puedes hacerlo dentro de los 30 días
            posteriores a la compra. El producto debe estar en perfecto estado.</p>
        <h4>3. Proceso de Devolución</h4>
        <p>Para iniciar una devolución, sigue estos pasos:</p>
        <ul>
            <li>Contacta a nuestro servicio al cliente a través de servicioalcliente@domus.pe o al 074 606240.</li>
            <li>Proporciona tu número de pedido y el motivo de la devolución.</li>
            <li>Empaca el producto en su empaque original junto con todos los accesorios y etiquetas.</li>
            <li>Envía el paquete a la dirección proporcionada por nuestro equipo de servicio al cliente.</li>
        </ul>
        <h4>4. Reembolsos</h4>
        <p>Los reembolsos se procesarán una vez que hayamos recibido y revisado el producto devuelto. El reembolso se
            realizará a través del mismo método de pago utilizado en la compra original.</p>
        <h4>5. Excepciones</h4>
        <p>Algunos productos, como los artículos personalizados o perecederos, no son elegibles para devoluciones o
            cambios. Consulta nuestra política completa para más detalles.</p>
        </div>
    </div>
    </section>
{% endblock %}

{% block scripts %} 
{% endblock %}
    
