{% extends "maestra_administrador.html" %}
{% block titulo %}
Editar Tipo de Imagen de Novedad
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/formulario.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder" style="margin-top: 0.5rem;">Editar Tipo de Imagen de Novedad</h2>
    <form action="{{ url_for('actualizar_tipo_img_novedad') }}" method="post">
      <input type="hidden" name="id" value="{{ tipo_img_novedad[0] }}">
      <div class="form-grid" id="col_add">
        
        <div class="row">
          <div class="col">
            <label for="tipo">Tipo de Imagen:</label>
            <input value="{{ tipo_img_novedad[1] }}" required type="text" class="input" placeholder="Tipo de imagen" name="tipo" id="tipo">
          </div>
                  
          <div class="col">
            <label for="disponibilidad">Disponibilidad:</label>
            <select required class="input" name="disponibilidad" id="disponibilidad">
                <option value=1 {% if tipo_img_novedad[2]==1 %} selected {% endif %}>Disponible</option>
                <option value=0 {% if tipo_img_novedad[2]==0 %} selected {% endif %}>No Disponible</option>
            </select>
          </div>
        </div>

        <!-- Botones -->
        <div class="row">
          <div class="col" id="sbmt">
            <div class="form-buttons">
              <a href="{{ url_for('tipos_img_novedad_listado') }}" id="backbtn">Volver</a>
              <button type="submit" class="button is-primary">Guardar Cambios</button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </section>
{% endblock %}
