{% extends "maestra_administrador.html" %}

{% block titulo %}
Editar Tipo de Novedad
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/agregar.css" />
{% endblock %}

{% block contenido %}
<section class="h_section" id="mainSection">
    <h2 class="fw-bolder" style="margin-top: 0.5rem;">Editar Tipo de Novedad</h2><br><br><br>
    <form action="{{ url_for('actualizar_tipo_novedad') }}" method="post">
        <input type="hidden" name="id" value="{{ id_tipo }}">
        
        <div class="form-grid" id="col_add">
            <div class="row">
                <div class="col">
                    <label for="nombre_tipo">Nombre del Tipo de Novedad:</label><br>
                    <input required type="text" class="input" placeholder="Nombre del tipo de novedad" name="nombre_tipo" id="nombre_tipo" value="{{ tipo_novedad[1] }}">
                </div>
            </div>

            <div class="row">
                <div class="col" id="sbmt">
                    <div class="form-buttons">
                        <a href="{{ url_for('listado_tipos_novedad') }}" id="backbtn">Volver</a>
                        <button type="submit" class="button is-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block scripts %} 
<script src="/static/js/admin_novedades.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
