{% extends 'maestra_administrador.html' %}

{% block titulo %}
  Editar Marca
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/modificar.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder" style="margin-top: 0.5rem;">Editar Marca</h2><br /><br /><br />
    <form action="{{ url_for('actualizar_caracteristica') }}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ caracteristica.0 }}" />
      <div class="form-grid" id="col_add">
        <!-- Primera columna -->
        <div class="row">
          <div class="col">
            <label for="nombre">Marca:</label><br />
            <input value="{{ caracteristica.1 }}" required type="text" class="input" placeholder="Nombre de la marca" name="campo" id="campo" />
          </div>

          <div class="col">
            <label for="disponibilidad">Disponibilidad:</label><br>
            <select required class="input" name="disponibilidad" id="disponibilidad">
                <option value=1 {% if caracteristica[2]==1 %} selected {% endif %}>Disponible</option>
                <option value=0 {% if caracteristica[2]==0 %} selected {% endif %}>No Disponible</option>
            </select>
          </div>

        </div>
        <div class="row">
          <div class="col" id="sbmt">
            <div class="form-buttons">
              <a href="{{ url_for('caracteristicas') }}" id="backbtn">Volver</a>
              <button type="submit" class="button is-primary" style="border-radius: 20px;">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
{% endblock %}

{% block scripts %}
  <!-- <script src="/static/js/admin_productos.js"></script> -->
{% endblock %}
