{% extends 'maestra_administrador.html' %}

{% block titulo %}
  Editar Detalle de Pedido
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/modificar.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder" style="margin-top: 0.5rem;">Editar Detalle del Pedido</h2><br /><br /><br />
    <form action="{{ url_for('actualizar_detalle_pedido') }}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ detalle.4 }}" /> 
      <input type="hidden" name="pedido_id" value="{{ pedido_id }}" /> 

      <div class="form-grid" id="col_add">
        <!-- Primera columna -->
        <div class="row">
          <div class="col">
            <label for="nombre_producto">Producto:</label><br />
            <input value="{{ detalle.1 }}" required type="text" class="input" placeholder="Nombre del Producto" name="nombre_producto" id="nombre_producto" readonly/>
          </div>

          <div class="col">
            <label for="precio">Precio:</label><br />
            <input value="S/. {{ detalle.2 }}" required type="text" class="input" placeholder="Precio del Producto" name="precio" id="precio" readonly/>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="cantidad">Cantidad:</label><br />
            <input value="{{ detalle.3 }}" required type="number" class="input" placeholder="Cantidad" name="cantidad" id="cantidad" min="1"/>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="imagen">Imagen del Producto:</label><br />
            <img src="{{ detalle.0 }}" alt="Imagen del Producto" class="img-fluid" style="max-width: 150px;" />
          </div>
        </div>

        <div class="row">
          <div class="col" id="sbmt">
            <div class="form-buttons">
              <a href="{{ url_for('listado_pedidos') }}" id="backbtn">Volver</a>
              <button type="submit" class="button is-primary" style="border-radius: 20px;">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
