{% extends "maestra_administrador.html" %}
{% block titulo %}
  Editar Tipo de Usuario
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/formulario.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection" >
    <h2 class="fw-bolder">Editar Tipo de Usuario</h2>

    <form action="{{ url_for('actualizar_tipo_usuario') }}" method="post"   enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ tipo_usuario[0] }}">
      <div class="form-grid" id="col_add">

        <div class="row">
          <div class="col column_text">
            <div class="row">
              <div class="col">
                <label for="tipo">Tipo de Usuario:</label>
                <input value="{{ tipo_usuario[1] }}" required type="text" class="input" placeholder="Tipo de usuario" name="tipo" id="tipo">
              </div>
            </div>
    
            <div class="row">
              <div class="col">
                <label for="descripcion">Descripción:</label>
                <textarea required class="input" placeholder="Descripción del tipo de usuario" name="descripcion" id="descripcion">{{ tipo_usuario[2] }}</textarea>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="disponibilidad">Disponibilidad:</label>
                <select required class="input" name="disponibilidad" id="disponibilidad">
                  <option value="1" {% if tipo_usuario[4]==1 %} selected {% endif %}>Disponible</option>
                  <option value="0" {% if tipo_usuario[4]==0 %} selected {% endif %}>No Disponible</option>
                </select>
                <!-- <input type="checkbox" name="disponibilidad" id="disponibilidad" 
                {% if tipo_usuario[4]==1 %} checked {% endif %}
                > -->
              </div>
            </div>

          </div>
        
          <div class="col">
            <div class="row">
              <div class="col seccionImg">
                <label for="img_user">Subir imagen para usuario:</label>
                <input type="file" class="campoImg" name="img_user" id="img_user"/>
                <div class="espacio_img">
                  <img id="previewImg" src="{{ tipo_usuario[3] }}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
       

        <div class="row">
          <div class="col" id="sbmt">
            <div class="form-buttons">
              <a href="{{ url_for('listado_tipos_usuario') }}" id="backbtn">Volver</a>
              <button type="submit" class="button is-primary">Guardar Cambios</button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </section>
{% endblock %}
{% block scripts %}
  <script src="/static/js/imgsCRUDvistaprevia.js"></script>
{% endblock %}
