
{% extends "maestra_administrador.html" %}
{% block titulo %}
    Editar producto
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/administrativa/listados.css">
    <link rel="stylesheet" href="static/css/administrativa/formulario.css" />
{% endblock %}

{% block contenido %}

<section class="h_section" id="mainSection">
    <h2 class="fw-bolder">Editar Producto</h2>
    <form action="{{ url_for('actualizar_producto') }}" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ producto[0] }}">
        <div class="form-grid" id="col_add">

            <div class="row">
                <div class="col">
                    <label for="disponibilidad">Disponibilidad:</label>
                    <select required class="input" name="disponibilidad" id="disponibilidad">
                        <option value=1 {% if producto[11]==1 %} selected {% endif %}>Disponible</option>
                        <option value=0 {% if producto[11]==0 %} selected {% endif %}>No Disponible</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col col-8">
                    <label for="nombre">Nombre:</label>
                    <input required type="text" class="input" placeholder="Nombre del Producto" name="nombre"
                        id="nombre" value="{{ producto[1] }}" style="text-align: center;">
                </div>
                <div class="col">
                    <label for="stock">Stock:</label>
                    <input required type="number" class="input" placeholder="Cantidad en Stock" name="stock" id="stock"
                        value="{{ producto[7] }}" style="text-align: center;">
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <label for="price_regular">Precio Regular:</label>
                    <input type="number" class="input" placeholder="Precio Regular (Opcional)" name="price_regular"
                        id="price_regular" value="{{ producto[2] }}" style="text-align: center;" step="0.01">
                </div>

                <div class="col">
                    <label for="price_online">Precio Online:</label>
                    <input required type="number" class="input" placeholder="Precio Online" name="price_online"
                        id="price_online" value="{{ producto[3] }}" style="text-align: center;" step="0.01">
                </div>

                <div class="col">
                    <label for="precio_oferta">Precio Oferta:</label>
                    <input type="number" class="input" placeholder="Precio Oferta (opcional)" name="precio_oferta"
                        id="precio_oferta" value="{{ producto[4] }}" style="text-align: center;" step="0.01">
                </div>                

            </div>

            <div class="row">

                <div class="col">
                    <label for="marca_id">Marca:</label>
                    <select required class="input" name="marca_id" id="marca_id">
                        {% for marca in marcas %}
                        <option value="{{marca[0]}}" {% if marca[0] == producto[9] %} selected {% endif %}>{{marca[1]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <label for="categorySelect">Categoría:</label>
                    <select class="input" aria-label="Default select example" id="categorySelect">
                        <option value="0">Todos</option>
                        {% for categoria in categorias %}
                        <option value="{{categoria[0]}}" 
                            {% if categoria[0]==producto[13] %} selected {% endif %}
                        >
                            {{categoria[1]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <label for="subcategoria_id">Subcategoría:</label>
                    <select required class="input" name="subcategorySelect" id="subcategorySelect">
                        {% for subcategoria in subcategorias %}
                        <option value="{{subcategoria[0]}}" data-category="{{subcategoria[4]}}" {% if subcategoria[0]==producto[10] %} selected {% endif %}>
                            {{subcategoria[1]}}
                        </option>
                        {% endfor %}
                    </select>
                    
                </div>
            </div>

            <div class="row">

                <div class="col column_text">                    
                    <div class="row">
                        <div class="col">
                            <label for="infoAdicional">Caracteristicas Principales:</label>
                            <table cellspacing="0" class="table_sublistado">
                                <thead>
                                    <tr>
                                        <th>Campo</th>
                                        <th>Valor</th>
                                        <th>Disp. Campo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for carac in caracteristicasPrincipales %} 
                                        <tr class="
                                        {% if carac.2 == 1 %}
                                          fila_disp_si
                                        {% else %}
                                          fila_disp_no
                                        {% endif %}
                                        ">
                                            <td>
                                                {{carac[0]}}
                                            </td>
                                            <td>
                                                {{carac[1]}}
                                            </td>
                                            <td>
                                                <div class="celda_estado">
                                                    {% if carac.2 == 1 %}
                                                      <p class="disponibilidad disp_si">Disponible</p>
                                                    {% else %}
                                                      <p class="disponibilidad disp_no">No Disponible</p>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <label for="infoAdicional">Caracteristicas Secundarias:</label>
                            <table cellspacing="0" class="table_sublistado">
                                <thead>
                                    <tr>
                                        <th>Campo</th>
                                        <th>Valor</th>
                                        <th>Disp. Campo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for carac in caracteristicasSecundarias %} 
                                        <tr class="
                                        {% if carac.2 == 1 %}
                                          fila_disp_si
                                        {% else %}
                                          fila_disp_no
                                        {% endif %}
                                        ">
                                            <td>
                                                {{carac[0]}}
                                            </td>
                                            <td>
                                                {{carac[1]}}
                                            </td>
                                            <td>
                                                <div class="celda_estado">
                                                    {% if carac.2 == 1 %}
                                                      <p class="disponibilidad disp_si">Disponible</p>
                                                    {% else %}
                                                      <p class="disponibilidad disp_no">No Disponible</p>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="col" id="space_info">
                    <label for="infoAdicional">Información Adicional:</label>
                    <textarea name="infoAdicional" id="infoAdicional" placeholder="Información Adicional (opcional)"
                        style="height: 200px;">{{ producto[6] }}</textarea>
                </div>
            </div>

            <div class="row" style="align-items: flex-start;">
                <div class="col col-4 seccionImg">
                    <label for="banner">Cambiar imagen principal:</label>
                    <input type="file" class="campoImg" name="imagenProduct" id="imagenProduct"/>
                    <div class="espacio_img">
                      <img id="previewImg" src="{{producto[12]}}" alt="" class="clickable-image">
                    </div>
                </div>
                
                <div class="col">
                    <label for="">Imágenes secundarias:</label>
                    <div class="espacio_img espacio_img_multi">
                        {% for imagen in imagenes %}
                            <div class="cont_img">
                                <img id="previewImg" src="{{imagen[2]}}" alt="" class="clickable-image">
                                <div>
                                    <input type="hidden" name="img_id" id="img_id" value="{{ imagen[0] }}">
                                    <button type="button" onclick="enviarFormulario('{{url_for('eliminar_img_producto')}}', '{{imagen[0]}}')">
                                        <i class="fa-solid fa-x"></i>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- <div class="col">
                    <label for="infoAdicional">Cambiar imagenes secundarias:</label>
                    <table cellspacing="0" class="table_sublistado">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th class="opciones_column">Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="productTableBody">
                            {% for img_product in imagenes %}
                            <tr>
                                <td>
                                    <div class="celda_texto_bloque">
                                        <img src="{{ img_product[2] }}" alt="Imagen de novedad" class="clickable-image">
                                    </div>
                                </td>
                                <td class="opciones_column">
                                    <div class="acciones">
                                        <form class="opciones_fila" action="{{url_for('eliminar_img_producto')}}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                                            <input type="hidden" name="id" id="id" value="{{ img_product[0] }}">
                                            <input type="hidden" name="novedad_id" id="novedad_id" value="{{ novedad_id }}">
                                            <button type="submit">
                                                <i class="fa-solid fa-x"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> -->
            </div>

            

            <div class="row">
                <div class="col" id="sbmt">
                    <div class="form-buttons">
                        <a href="{{ url_for('productos') }}" id="backbtn">Volver</a>
                        <button type="submit" class="button is-primary" >Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="overlayImage" class="overlayImage" onclick="closeImage()">
        <img id="enlargedImage" class="enlarged-image" />
    </div>
    
</section>

<style>
    .PrActive {
        background-color: rgb(255, 255, 255);
        color: #00095c;
    }

    /* Asegurar que el body permita scroll si el contenido excede el tamaño de la ventana */
    
</style>
{% endblock %}

{% block scripts %}
<script>
    function enviarFormulario(url, imgId) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = url;

        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'img_id';
        input.value = imgId;

        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }
</script>
<script src="/static/js/admin_productos.js"></script>
<script src="/static/js/filtroCRUDListado.js"></script>
<script src="/static/js/imgsCRUDvistaprevia.js"></script>
<script src="/static/js/imgsCRUDimagencompleta.js"></script>
{% endblock %}