{% extends "maestra_administrador.html" %}
{% block titulo %}
Editar Tipo de Imagen de Novedad
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/modificar.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder" style="margin-top: 0.5rem;">Editar Tipo de Imagen de Novedad</h2>
    <form action="{{ url_for('actualizar_tipo_img_novedad') }}" method="post">
      <input type="hidden" name="id" value="{{ tipo_img_novedad[0] }}">
      <div class="form-grid" id="col_add">
        
        <!-- Nombre del Tipo de Imagen -->
        <div class="row">
          <div class="col">
            <label for="tipo">Tipo de Imagen:</label><br>
            <input value="{{ tipo_img_novedad[1] }}" required type="text" class="input" placeholder="Tipo de imagen" name="tipo" id="tipo">
          </div>
        </div>

        <!-- Disponibilidad -->
        <div class="row">
          <div class="col">
            <label for="disponibilidad">Disponibilidad:</label><br>
            <label>
              <input type="radio" name="disponibilidad" value="1" {% if tipo_img_novedad[2] == 1 %}checked{% endif %}> Disponible
            </label>
            <label>
              <input type="radio" name="disponibilidad" value="0" {% if tipo_img_novedad[2] == 0 %}checked{% endif %}> No Disponible
            </label>
          </div>
        </div>

        <!-- Botones -->
        <div class="row">
          <div class="col" id="sbmt">
            <div class="form-buttons">
              <a href="{{ url_for('tipos_img_novedad_listado') }}" id="backbtn">Volver</a>
              <button type="submit" class="button is-primary">Guardar Cambios</button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </section>
{% endblock %}
