{% extends "maestra_administrador.html" %}

{% block titulo %}
Editar Motivo de Comentario
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/formulario.css" />
{% endblock %}

{% block contenido %}
<section class="h_section" id="mainSection">
    <h2 class="fw-bolder" style="margin-top: 0.5rem;">Editar Motivo de Comentario</h2>
    <form action="{{ url_for('actualizar_motivo_comentario') }}" method="post">
        <input type="hidden" name="id" value="{{ motivo_comentario[0] }}"> <!-- Campo oculto para el ID del motivo de comentario -->
        
        <div class="form-grid" id="col_add">
            <div class="row">
                <div class="col">
                    <label for="motivo">Motivo del Comentario:</label>
                    <input required type="text" class="input" placeholder="Motivo del comentario" name="motivo" id="motivo" value="{{ motivo_comentario[1] }}">
                </div>
            
                <div class="col">
                    <label for="disponibilidad">Disponibilidad:</label>
                    <select name="disponibilidad" id="disponibilidad" class="input" required>
                        <option value="1" {% if motivo_comentario[2] == 1 %}selected{% endif %}>Disponible</option>
                        <option value="0" {% if motivo_comentario[2] == 0 %}selected{% endif %}>No Disponible</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col" id="sbmt">
                    <div class="form-buttons">
                        <a href="{{ url_for('motivos_comentario_listado') }}" id="backbtn">Volver</a>
                        <button type="submit" class="button is-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block scripts %} 
<script src="/static/js/admin_motivos_comentario.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
