{% extends "maestra_general.html" %}

{% block titulo %} 
    Error 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/error.css">
{% endblock %}

{% block contenido %}
    <section>
        <i class="fa-solid fa-triangle-exclamation"></i>
        Intentó ingresar a una página que no existe o no se encuentra disponible <br>
        <!-- <b>NO HAY NADA ACA PS CAOSA</b> -->
        <b><a href="{{url_for('general.index')}}">Volver al INICIO</a></b>
    </section>
{% endblock %}

{% block scripts %} 
{% endblock %}
    
