{% extends "maestra_general.html" %}

{% block titulo %} 
    Garantias
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/servicioCliente.css" />
{% endblock %}

{% block contenido %}
    <section>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Garantías</h2>
        <div class="content">
        <p>En Domus Market, todos nuestros productos están respaldados por garantías para asegurar tu tranquilidad y
            satisfacción.</p>
        <h4>1. Garantía Legal</h4>
        <p>Todos los productos cuentan con una garantía legal de 6 meses contra defectos de fabricación. Esta garantía
            cubre reparaciones y, en algunos casos, reemplazos del producto.</p>
        <h4>2. Garantía del Fabricante</h4>
        <p>Adicionalmente, muchos de nuestros productos cuentan con una garantía del fabricante que puede variar entre 1
            y 3 años. Consulta la documentación del producto para más detalles.</p>
        <h4>3. Garantía Extendida</h4>
        <p>Ofrecemos la opción de adquirir garantías extendidas para ciertos productos. Estas garantías amplían la
            cobertura más allá del período estándar.</p>
        <h4>4. Proceso de Reclamo</h4>
        <p>Para hacer un reclamo de garantía, sigue estos pasos:</p>
        <ul>
            <li>Contacta a nuestro servicio al cliente a través de servicioalcliente@domus.pe o al 074 606240.</li>
            <li>Proporciona tu número de pedido y una descripción del problema.</li>
            <li>Empaca el producto con todos sus accesorios y envíalo a la dirección proporcionada por nuestro equipo de
            servicio al cliente.</li>
        </ul>
        <h4>5. Exclusiones</h4>
        <p>Las garantías no cubren daños causados por uso indebido, desgaste normal, o intentos de reparación no
            autorizados. Consulta nuestra política de garantías para más detalles.</p>
        </div>
    </div>
    </section>
{% endblock %}

{% block scripts %} 
{% endblock %}