{% extends "maestra_general.html" %}

{% block titulo %} 
    Homepage 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/stylesProductCard.css">
    <link rel="stylesheet" href="static/css/stylesGalleryImages.css">
    <link rel="stylesheet" href="static/css/stylesBrands.css">
    <link rel="stylesheet" href="static/css/styles.css">
{% endblock %}

{% block contenido %}
    <section class="body_page">
        {% if novedadesBanner %}
        <div id="carouselExampleIndicators" class="carousel slide product_slider">
            <div class="carousel-indicators">
                {% for i in range(novedadesBanner|length) %}
                    {% if i == 0 %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
                    {% else %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i + 1 }}"></button>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for imagen in novedadesBanner %}
                    <a class="carousel-item {% if loop.first %}active{% endif %}" href="{{url_for('selectedNovedad', id=imagen[0])}}">
                        <img src="{{imagen[1]}}" class="d-block w-100" alt="{{imagen[2]}}">
                    </a>
                {% endfor %}
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% endif %}
        {% if novedadesRecientes %}
        <article class="article_for_sale">
            <h1 class="title1_1">
                ¡NUEVAS OFERTAS Y ÚLTIMOS DESCUENTOS!
            </h1>
            <div class="for_sale_gallery">
                {% for imagen in novedadesRecientes %}
                <a href="{{url_for('selectedNovedad', id=imagen[0])}}">
                    <img class="img-fluid 

                    {% if imagen[3] == 1 %}
                        img_for_sale_full
                    {% elif imagen[3] == 3 %}
                        img_for_sale_vertical
                    {% elif imagen[3] == 2 %}
                        img_for_sale_vertical
                    {% elif imagen[3] == 4 %}
                        img_for_sale_horizontal 
                    {% endif %}

                    " src="{{imagen[1]}}" alt="{{imagen[2]}}">
                </a>
                {% endfor %}
            </div> 
        </article>
        {% endif %}
        {% if productosRecientes | length > 8 %}
            <article class="article_products article_product_new">
                <h1 class="title1_2">
                    ¡LO MÁS NUEVO!
                </h1>
                <div class="slider_product">
                    <i class="btn_slider_product fas fa-angle-left"></i>
                    <div class="list_product">

                        {% for producto in productosRecientes %}

                        <div class="product">
                            <a class="product_info" href="{{url_for('producto', id=producto[0])}}">
                                <img class="product_pic"
                                    src="{{ producto[7] }}"
                                    alt="{{producto[1]}}">

                                <p class="product_name">
                                    {{producto[1]}}
                                </p>

                                {% if producto[2] %}
                                    <div class="product_price price_regular">
                                        <p class="product_price_title">
                                            Regular
                                        </p>
                                        <p class="product_price_number">
                                            S/. {{  producto[2] | int  }}
                                            <sup>.{{ "{:.2f}".format(producto[2]).split('.')[1] }}</sup>
                                        </p>
                                    </div>
                                {% endif %}

                                <div class="product_price price_online">
                                    <p class="product_price_title">
                                        Online
                                    </p>
                                    <p class="product_price_number">
                                        S/. {{ producto[3] | int }}
                                        <sup>.{{ "{:.2f}".format(producto[3]).split('.')[1] }}</sup>
                                    </p>
                                </div>

                                {% if producto[4] %}
                                    <div class="product_price price_for_sale">
                                        <p class="product_price_title">
                                            Oferta
                                        </p>
                                        <p class="product_price_number">
                                            S/. {{ producto[4] | int }}
                                            <sup>.{{ "{:.2f}".format(producto[4]).split('.')[1] }}</sup>
                                        </p>
                                    </div>
                                {% endif %}


                            </a>
                            <div class="product_option product_option_fav button" id="heart">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <form class="product_form_add" action="{{url_for('agregar_carrito')}}" method="post">
                                <input type="hidden" name="producto_id" value="{{producto.0}}" data-product-id="{{ producto.0 }}" />
                                <button type="submit" class="product_option product_option_add" id="cant_aumentar">
                                <i class="fa-solid fa-plus"></i>
                                </button>
                            </form>
                        </div>

                        {% endfor %}

                    </div>
                    <i class="btn_slider_product fas fa-angle-right"></i>
                </div>
            </article>
        {% endif %}

        {% if productosPopulares | length > 8 %}
            <article class="article_products article_product_popular">
                <h1 class="title1_1">
                    ¡LO MÁS POPULAR!
                </h1>
                <div class="slider_product">
                    <i class="btn_slider_product fas fa-angle-left"></i>
                    <div class="list_product">
                        {% for producto in productosPopulares %}

                        <div class="product">
                            <a class="product_info" href="{{url_for('producto', id=producto[0])}}">
                                <img class="product_pic"
                                    src="{{ producto[7] }}"
                                    alt="{{producto[1]}}">

                                <p class="product_name">
                                    {{producto[1]}}
                                </p>

                                {% if producto[2] %}
                                    <div class="product_price price_regular">
                                        <p class="product_price_title">
                                            Regular
                                        </p>
                                        <p class="product_price_number">
                                            S/. {{  producto[2] | int  }}
                                            <sup>.{{ "{:.2f}".format(producto[2]).split('.')[1] }}</sup>
                                        </p>
                                    </div>
                                {% endif %}

                                <div class="product_price price_online">
                                    <p class="product_price_title">
                                        Online
                                    </p>
                                    <p class="product_price_number">
                                        S/. {{ producto[3] | int }}
                                        <sup>.{{ "{:.2f}".format(producto[3]).split('.')[1] }}</sup>
                                    </p>
                                </div>

                                {% if producto[4] %}
                                    <div class="product_price price_for_sale">
                                        <p class="product_price_title">
                                            Oferta
                                        </p>
                                        <p class="product_price_number">
                                            S/. {{ producto[4] | int }}
                                            <sup>.{{ "{:.2f}".format(producto[4]).split('.')[1] }}</sup>
                                        </p>
                                    </div>
                                {% endif %}


                            </a>
                            <div class="product_option product_option_fav button" id="heart">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <form class="product_form_add" action="{{url_for('agregar_carrito')}}" method="post">
                                <input type="hidden" name="producto_id" value="{{producto.0}}" data-product-id="{{ producto.0 }}" />
                                <button type="submit" class="product_option product_option_add" id="cant_aumentar">
                                <i class="fa-solid fa-plus"></i>
                                </button>
                            </form>
                        </div>

                        {% endfor %}
                    </div>
                    <i class="btn_slider_product fas fa-angle-right"></i>
                </div>
            </article>
        {% endif %}
        
        {% if marcasBloque %}            
            <article class="article_brands">
                <h1 class="title1_2">
                    MARCAS QUE DEBES VISITAR
                </h1>

                {% for marca in marcasBloque %}
                <div class="brand_content">
                    <a href="{{url_for('marca', id=marca[0])}}" class="brand_picture">
                        <img class="brand_logo" src="{{ marca[2] }}" alt="">
                        <p class="brand_name">
                            {{marca[1]}}
                        </p>
                    </a>

                    {% if marca[5] %}
                        <a class="brand_new" href="">
                            <img class="img-fluid" src="{{marca[5]}}" alt="">
                        </a>
                    {% endif %}

                    <div class="brand_products">
                        <div class="slider_product subslider_product">
                            <i class="btn_slider_product fas fa-angle-left"></i>
                            <div class="list_product">
                                
                                {% for producto in marca[6] %}

                                <div class="product">
                                    <a class="product_info" href="{{url_for('producto', id=producto[0])}}">
                                        <img class="product_pic"
                                            src="{{ producto[7] }}"
                                            alt="{{producto[1]}}">

                                        <p class="product_name">
                                            {{producto[1]}}
                                        </p>

                                        {% if producto[2] %}
                                            <div class="product_price price_regular">
                                                <p class="product_price_title">
                                                    Regular
                                                </p>
                                                <p class="product_price_number">
                                                    S/. {{  producto[2] | int  }}
                                                    <sup>.{{ "{:.2f}".format(producto[2]).split('.')[1] }}</sup>
                                                </p>
                                            </div>
                                        {% endif %}

                                        <div class="product_price price_online">
                                            <p class="product_price_title">
                                                Online
                                            </p>
                                            <p class="product_price_number">
                                                S/. {{ producto[3] | int }}
                                                <sup>.{{ "{:.2f}".format(producto[3]).split('.')[1] }}</sup>
                                            </p>
                                        </div>

                                        {% if producto[4] %}
                                            <div class="product_price price_for_sale">
                                                <p class="product_price_title">
                                                    Oferta
                                                </p>
                                                <p class="product_price_number">
                                                    S/. {{ producto[4] | int }}
                                                    <sup>.{{ "{:.2f}".format(producto[4]).split('.')[1] }}</sup>
                                                </p>
                                            </div>
                                        {% endif %}


                                    </a>
                                    <div class="product_option product_option_fav button" id="heart">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                    <form class="product_form_add" action="{{url_for('agregar_carrito')}}" method="post">
                                        <input type="hidden" name="producto_id" value="{{producto.0}}" data-product-id="{{ producto.0 }}" />
                                        <button type="submit" class="product_option product_option_add" id="cant_aumentar">
                                        <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </form>
                                </div>

                                {% endfor %}

                            </div>
                            <i class="btn_slider_product fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </article>
        {% endif %}

    </section>
{% endblock %}

{% block scripts %} 
    <script src="static/js/scriptIndexAnimExclusividad.js"></script>
    <script src="static/js/scriptListProduct.js"></script>
    <script src="static/js/listaDeseos.js"></script> 
{% endblock %}

