{% extends 'maestra_administrador.html' %}

{% block titulo %}
  Pedidos
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/listados.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder">Listado de pedidos</h2>
    <div class="container-fluid" id="break_nav">
      <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar por usuario" aria-label="Recipient's username" aria-describedby="button-addon2" />
          <button class="btn btn-outline-secondary searchi" type="button" id="button-addon2"><img src="/static/img/elementosCRUD/loupe.png" alt="buscar" class="search_loupe" /></button>
        </div>
      </div>
    </div>

    <div class="table-containersy">
      <table border="0" cellspacing="0" cellpadding="8" class="product_if">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha de compra</th>
            <th>Subtotal</th>
            <th>Método de pago</th>
            <th>Usuario</th>
            <th>Estado de pedido</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for pedido in pedidos %}
            <tr>
              <td>{{ pedido.0 if pedido.0 is not none else 'No registrado' }}</td> 
              <td>{{ pedido.1 if pedido.1 is not none else 'No registrado' }}</td> 

              <td>S/. {{ pedido.2 if pedido.2 is not none else 'No registrado' }}</td> 

              <td>{{ pedido.3 if pedido.3 is not none else 'No registrado' }}</td> 
              <td>{{ pedido.4 if pedido.4 is not none else 'No registrado' }}</td>

              <td>
                {% if pedido.5 == 1 %}
                  <span>En Proceso</span>
                {% elif pedido.5 == 2 %}
                  <span>Completado</span>
                {% else %}
                  <span>Cancelado</span>
                {% endif %}
              </td>

              <td class="opciones_column">
                
                <div class="acciones">
                
                
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error al eliminar pedido</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ error }} <!-- Aquí se muestra el error que pasaste desde el backend -->
          </div>
        </div>
      </div>
    </div>
    
    
    
  
    
  </section>

  <style>
    .MarcActive {
      background-color: rgb(255, 255, 255);
      color: #00095c;
    }
  </style>
{% endblock %}

{% block scripts %}

{% if show_modal %}
<script>
    var modal = new bootstrap.Modal(document.getElementById('errorModal'));
    modal.show();
    
    // Redirigir automáticamente después de 3 segundos (3000 milisegundos)
    setTimeout(function(){
        window.location.href = "/listado_pedidos";
    }, 3000);
</script>
{% endif %}

  <script src="/static/js/admin_productos.js"></script>
{% endblock %}
