{% extends 'maestra_perfil.html' %}

{% block estilos_perfil %}
<link rel="stylesheet" href="static/css/listaDeseos.css"/>
{% endblock %}

{% block contenido_perfil %}
<div class="deseos">

  <h2>Lista de deseos</h2>
  <div class="tarjetas">
      {% for producto in lista %}
      <div class="tarjeta">
          <img src="data:image/jpeg;base64,{{ producto.imagen }}" alt="imagen de producto" class="imagen_producto">
          <p class="product_name">{{ producto.nombre }}</p>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts_perfil %}
{% endblock %}
