{% extends 'maestra_administrador.html' %}

{% block titulo %}
  Listado de Contenido Informativo
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/listados.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder">Listado de Contenido Informativo</h2>
    <div class="container-fluid" id="break_nav">
      <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar por nombre" aria-label="Recipient's username" aria-describedby="button-addon2" />
          <button class="btn btn-outline-secondary searchi" type="button" id="button-addon2"><img src="/static/img/elementosCRUD/loupe.png" alt="buscar" class="search_loupe" /></button>
          <a href="{{ url_for('formulario_agregar_contenido_info') }}" class="button is-success add-btn"><button type="button" id="add_btn">Agregar</button></a>
        </div>
      </div>
    </div>

    <div class="table-containersy">
      <table border="0" cellspacing="0" cellpadding="8" class="product_if">
        <thead>
          <tr>
            <th>ID</th>
            <th>Seccion</th>
            <th>Opciones</th>
            <th>ID Cont</th>
            <th>Titulo</th>
            <th>Cuerpo</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for seccion in secciones %}
          {% set datos_lista = datos | selectattr(3, 'equalto', seccion[0]) | list %}
          {% if datos_lista | length > 0 %}
            <tr>
              <td rowspan="{{ datos_lista | length }}">{{ seccion[0] }}</td>
              <td rowspan="{{ datos_lista | length }}">
                <div class="celda_texto_bloque">
                  <i class="{{ seccion[3] }}"></i>
                  <span>{{ seccion[1] }}</span>
                </div>
              </td>
              <td rowspan="{{ datos_lista | length }}" class="opciones_column">
                <div class="acciones">
                  <a href="{{url_for('selectedContenidoInformativo', id=seccion[0])}}"><i class="fa-solid fa-eye"></i></a>
                  <a href="{{ url_for('editar_tipo_contenido_info', id=seccion[0]) }}"><img src="/static/img/elementosCRUD/lapiz.png" alt="editar" /></a>
                  <form action="{{ url_for('eliminar_tipo_contenido_info') }}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                    <input type="hidden" name="id" value="{{ seccion[0] }}" />
                    <button type="submit"><img src="/static/img/elementosCRUD/borrar.png" alt="borrar" /></button>
                  </form>
                </div>
              </td>

              <td>{{ datos_lista[0][0] }}</td>
              <td>{{ datos_lista[0][1] }}</td>
              <td>{{ datos_lista[0][2] }}</td>
              <td class="opciones_column">
                <div class="acciones">
                  <a href="{{ url_for('editar_contenido_info', id=datos_lista[0][0]) }}"><img src="/static/img/elementosCRUD/lapiz.png" alt="editar" /></a>
                  <form action="{{ url_for('eliminar_contenido_info') }}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                    <input type="hidden" name="id" value="{{ datos_lista[0][0] }}" />
                    <button type="submit"><img src="/static/img/elementosCRUD/borrar.png" alt="borrar" /></button>
                  </form>
                </div>
              </td>
            </tr>

            {% for dato in datos_lista[1:] %}
              <tr>
                <td>{{ dato[0] }}</td>
                <td>{{ dato[1] }}</td>
                <td>{{ dato[2] }}</td>

                <td class="opciones_column">
                  <div class="acciones">
                    <a href="{{ url_for('editar_contenido_info', id=dato.0) }}"><img src="/static/img/elementosCRUD/lapiz.png" alt="editar" /></a>
                    <form action="{{ url_for('eliminar_contenido_info') }}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                      <input type="hidden" name="id" value="{{ dato.0 }}" />
                      <button type="submit"><img src="/static/img/elementosCRUD/borrar.png" alt="borrar" /></button>
                    </form>
                  </div>
                </td>

              </tr>
            {% endfor %}

          {% else %}
            <tr>
              <td>{{ seccion[0] }}</td>
              <td>
                <div class="celda_texto_bloque">
                  <i class="{{ seccion[3] }}"></i>
                  <span>{{ seccion[1] }}</span>
                </div>
              </td>
              <td>{{ seccion[4] }}</td>
              <td colspan="3">No hay datos aún</td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  <style>
    .datoctive {
      background-color: rgb(255, 255, 255);
      color: #00095c;
    }
  </style>
{% endblock %}

{% block scripts %}
  <script>
    function confirmarEliminacion() {
      return confirm('¿Estás seguro que deseas eliminar este registro? Esta acción no se puede deshacer.')
    }
  </script>
  <script src="/static/js/admin_productos.js"></script>
{% endblock %}
