{% extends 'maestra_administrador.html' %}
{% block titulo %}
  Productos
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="static/css/administrativa/listados.css">
{% endblock %}

{% block contenido %}
      
  <section class="h_section scrollable-section" id="mainSection">
    <h2 class="fw-bolder">Listado de categorias</h2>
      <div class="container-fluid" id="break_nav">
          <div class="col">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Buscar por nombre" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary searchi" type="button" id="button-addon2">
                <img src="/static/img/elementosCRUD/loupe.png" alt="buscar" class="search_loupe">
              </button>
              <a href="/agregar_categoria" class="button is-success add-btn"><button type="button" id="add_btn">Agregar</button></a>
            </div>
          </div>
      </div>

      <div class="table-container">
        <table cellspacing="0" class="product_if">
            <thead>
                <tr>
                    <th>ID Cat</th>
                    <th>Categoria</th>
                    <th>Icono Cat</th>
                    <th>Disponibilidad Cat</th>
                    <th>Opciones Cat</th>
                    <th>ID Sub</th>
                    <th>Subcategoria</th>
                    <th>Icono Sub</th>
                    <th>Disponibilidad Sub</th>
                    <th class="opciones_column">Opciones Sub</th>
                </tr>
            </thead>
            <tbody>
                
                {% for categoria in categorias %}
                {% set subcategorias_filtradas = subcategorias | selectattr(4, 'equalto', categoria[0]) | list %}
                <tr>
                  <td rowspan="{{ subcategorias_filtradas | length if subcategorias_filtradas | length > 0 else 1 }}">{{ categoria[0] }}</td>
                  <td rowspan="{{ subcategorias_filtradas | length if subcategorias_filtradas | length > 0 else 1 }}">{{ categoria[1] }}</td>
                  <td rowspan="{{ subcategorias_filtradas | length if subcategorias_filtradas | length > 0 else 1 }}">
                    <i class="{{ categoria[2] }}"></i>
                  </td>
                  <td rowspan="{{ subcategorias_filtradas | length if subcategorias_filtradas | length > 0 else 1 }}">
                    {% if categoria[3] == 1 %}
                      <span>Disponible</span>
                    {% else %}
                      <span>No Disponible</span>
                    {% endif %}
                  </td>
                  <td rowspan="{{ subcategorias_filtradas | length if subcategorias_filtradas | length > 0 else 1 }}">
                    <div class="acciones">
                      <a href="{{url_for('categoria', id=categoria[0])}}"><i class="fa-solid fa-eye"></i></a>
                      <a href="{{ url_for('editar_categoria', id=categoria[0]) }}"><img src="/static/img/elementosCRUD/lapiz.png" alt="editar"></a>
                      <form action="{{ url_for('eliminar_categoria') }}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                        <input type="hidden" name="id" value="{{ categoria[0] }}">
                        <button type="submit">
                          <img src="/static/img/elementosCRUD/borrar.png" alt="borrar">
                        </button>
                      </form>
                    </div>                        
                  </td>
              
                  {% if subcategorias_filtradas | length > 0 %}
                    <td>{{ subcategorias_filtradas[0][0] }}</td>
                    <td>{{ subcategorias_filtradas[0][1] }}</td>
                    <td><i class="{{ subcategorias_filtradas[0][2] }}"></i></td>
                    <td>
                      {% if subcategorias_filtradas[0][3] == 1 %}
                        <span>Disponible</span>
                      {% else %}
                        <span>No Disponible</span>
                      {% endif %}
                    </td>
                    <td class="opciones_column">
                      <div class="acciones">                            
                        <a href="{{ url_for('editar_subcategoria', id=subcategorias_filtradas[0][0]) }}"><img src="/static/img/elementosCRUD/lapiz.png" alt="editar"></a>
                        <form action="{{ url_for('eliminar_subcategoria') }}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                          <input type="hidden" name="id" value="{{ subcategorias_filtradas[0][0] }}">
                          <button type="submit">
                            <img src="/static/img/elementosCRUD/borrar.png" alt="borrar">
                          </button>
                        </form>
                      </div>
                    </td>
                  </tr>
              
                  {% for subcategoria in subcategorias_filtradas[1:] %}
                  <tr>
                    <td>{{ subcategoria[0] }}</td>
                    <td>{{ subcategoria[1] }}</td>
                    <td><i class="{{ subcategoria[2] }}"></i></td>
                    <td>
                      {% if subcategoria[3] == 1 %}
                        <span>Disponible</span>
                      {% else %}
                        <span>No Disponible</span>
                      {% endif %}
                    </td>
                    <td class="opciones_column">
                      <div class="acciones">                            
                        <a href="{{ url_for('editar_subcategoria', id=subcategoria[0]) }}"><img src="/static/img/elementosCRUD/lapiz.png" alt="editar"></a>
                        <form action="{{ url_for('eliminar_subcategoria') }}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                          <input type="hidden" name="id" value="{{ subcategoria[0] }}">
                          <button type="submit">
                            <img src="/static/img/elementosCRUD/borrar.png" alt="borrar">
                          </button>
                        </form>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <td colspan="5">No hay subcategorías añadidas</td>
                </tr>
                {% endif %}
              {% endfor %}
              
                
            </tbody>
        </table>
      </div>

      <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="errorModalLabel">Error al eliminar pedido</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{ error }} <!-- Aquí se muestra el error que pasaste desde el backend -->
            </div>
          </div>
        </div>
      </div>

    </section>

{% endblock %}



{% block scripts %}
{% if show_modal %}
<script>
    var modal = new bootstrap.Modal(document.getElementById('errorModal'));
    modal.show();
    
    // Redirigir automáticamente después de 3 segundos (3000 milisegundos)
    setTimeout(function(){
        window.location.href = "/listado_categorias";
    }, 1500);
</script>
{% endif %}
<script>
    function confirmarEliminacion() {
        return confirm('¿Estás seguro que deseas eliminar este registro? Esta acción no se puede deshacer.');
    }
</script>
<script src="/static/js/admin_productos.js"></script>

{% endblock %}