{% extends 'maestra_administrador.html' %}
{% block titulo %}
  Productos
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/listados.css" />
{% endblock %}

{% block contenido %}

<section class="h_section" id="mainSection">

  <div class="row">

    <div class="col">
      <h2 class="fw-bolder">Listado de productos</h2>
    </div>

    {% if nombreBusqueda %}
      <div class="col-2" >
        <div class="input-group">
          <a class="button is-success add-btn" href="{{ url_for('productos') }}">
            <button type="button" class="main_btn btn_return">Volver al Listado General</button>
          </a>
        </div>
      </div>
    {% endif %}

  </div>

  <div class="row">
    
    <div class="col-3">

      <table id="grid_resultados" cellspacing="0">
        <tbody>
          <tr>
            <th colspan="3">Resultados</th>
          </tr>
          <tr>
            <th>Total</th>
            <th>Disp</th>
            <th>No Disp</th>
          </tr>
          <tr>
            <td id="num_resultados"></td>
            <td id="num_disp_si"></td>
            <td id="num_disp_no"></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col">
      <form enctype="multipart/form-data" method="GET" action="{{ url_for('productos_buscar') }}">
        <div class="input-group">
          <input required type="text" class="form-control" placeholder="Buscar por nombre" aria-label="Recipient's username" aria-describedby="button-addon2" id="buscarProducto" name="buscarProducto" maxlength="150"
            {% if nombreBusqueda %}
              value="{{nombreBusqueda}}"
            {% endif %}
          />
          <button class="btn btn-outline-secondary searchi" type="submit" id="button-addon2" >
            <img src="/static/img/elementosCRUD/loupe.png" alt="buscar" class="search_loupe" />
          </button>
          <a href="{{ url_for('formulario_agregar_producto') }}" class="button is-success add-btn">
            <button type="button" class="main_btn">Agregar</button>
          </a>
        </div>
      </form>
    </div>

  </div>

  <div class="row" id="break_nav">
    <div class="col">
      <p class="fw-bolder lblchoosie">Filtrar por categoría</p>
      <select class="form-select choosie" aria-label="Default select example" id="categorySelect">
        <option value="0" selected>Todos</option>
        {% for categoria in categorias %}
          <option value="{{ categoria.0 }}">{{ categoria.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col">
      <p class="fw-bolder lblchoosie">Filtrar por subcategoría</p>
      <select class="form-select choosie" aria-label="Default select example" id="subcategorySelect">
          <option value="0" data-category="0" selected>Todos</option>
        {% for subcategoria in subcategorias %}
          <option value="{{ subcategoria.0 }}" data-category="{{ subcategoria.4 }}">{{ subcategoria.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col">
      <p class="fw-bolder lblchoosie">Filtrar por marca</p>
      <select class="form-select choosie" aria-label="Default select example" id="brandSelect">
        <option value="0" selected>Todos</option>
        {% for marca in marcas %}
          <option value="{{ marca.0 }}">{{ marca.1 }}</option>
        {% endfor %}
      </select>
    </div>

  </div>

  <div class="table-container">
      <table cellspacing="0" class="table_listado product_if">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Img Principal</th>
            <th>Precio Regular</th>
            <th>Precio Online</th>
            <th>Precio Oferta</th>
            <th>Información Adicional</th>
            <th>Stock</th>
            <th>Fecha Registro</th>
            <th>Disponibilidad</th>
            <th>Marca</th>
            <th>Categoría</th>
            <th>Subcategoría</th>
            <th class="opciones_column">Opciones</th>
          </tr>
        </thead>
        <tbody id="productTableBody">
          {% for producto in productos %}
            <tr class="
            {% if producto.9 == 1 and producto.13 == 1 and producto.14 == 1 and producto.15 == 1 %}
              fila_disp_si
            {% else %}
              fila_disp_no
            {% endif %}
            ">
              <td>{{ producto.0 }}</td>
              <td>
                <div class="celda_texto_amplio">
                  {{ producto.1 }}
                </div>
              </td>
              <td>
                <div class="celda_texto_bloque main_img_celda">
                  <img src="{{producto.12}}" alt="" class="clickable-image">
                </div>
              </td>
              <td>                
                {% if producto[2] == 0 or producto[2] is none %}
                <div class="espacio_vacio">
                  <p>
                    -
                  </p>
                </div> 
                {% else %}
                  {{ producto.2 }}
                {% endif %}
              </td>
              <td>{{ producto.3 }}</td>
              <td>
                {% if producto[4] == 0 or producto[4] is none %}
                <div class="espacio_vacio">
                  <p>
                    -
                  </p>
                </div> 
                {% else %}
                  {{ producto.4 }}
                {% endif %}
              </td>
              <td>
                <div class="celda_texto_amplio">
                  {% if producto[6] %}
                    {{ producto.6 }}
                  {% else %}
                  <div class="espacio_vacio">
                    <p>
                      Sin información adicional
                    </p>
                  </div>                    
                  {% endif %}
                </div>
              </td>
              <td>{{ producto.7 }}</td>
              <td>{{ producto.8 }}</td>
              <td>
                <div class="celda_estado">
                  {% if producto.9 == 1 %}
                    <p class="disponibilidad disp_si">Disponible</p>
                  {% else %}
                    <p class="disponibilidad disp_no">No Disponible</p>
                  {% endif %}
                </div>
              </td>
              <td>
                {% for marca in marcas %}
                  {% if marca.0 == producto.10 %}
                    <div class="celda_texto_bloque" data-brand="{{ marca.0 }}">
                      <img src="{{ marca.2 }}" alt="{{ producto.1 }} logo" class="clickable-image"/>
                      <span>{{ marca.1 }}</span>
                      {% if producto.15 == 0 %}
                        <p class="disponibilidad disp_no">No Disponible</p>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for subcategoria in subcategorias %}
                  {% if subcategoria.0 == producto.11 %}
                    <div class="celda_texto_bloque" data-category="{{ subcategoria.4 }}"
                    

                    >
                      <i class="{{ subcategoria.6 }}"></i>
                      <span>{{ subcategoria.5 }}</span>

                      {% if producto.14 == 0 %}
                        <p class="disponibilidad disp_no">No Disponible</p>
                      {% endif %}

                    </div>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for subcategoria in subcategorias %}
                  {% if subcategoria.0 == producto.11 %}
                    <div class="celda_texto_bloque" data-subcategory="{{ producto.11 }}"
                    
                    
                    >
                      <i class="{{ subcategoria.2 }}"></i>
                      <span>{{ subcategoria.1 }}</span>

                      {% if producto.13 == 0 or producto.14 == 0 %}
                        <p class="disponibilidad disp_no">No Disponible</p>
                      {% endif %}

                    </div>
                  {% endif %}
                {% endfor %}
              </td>

              <td class="opciones_column">
                <div class="acciones">
                  <a class="opciones_fila" href="{{url_for('producto', id=producto[0])}}">
                    <i class="fa-solid fa-eye"></i>
                  </a>
                  <a class="opciones_fila" href="{{ url_for('editar_producto', id=producto.0) }}">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </a>
                  <form class="opciones_fila" action="{{ url_for('eliminar_producto2') }}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                    <input type="hidden" name="id" id="id" value="{{ producto.0 }}" />
                    <button type="submit">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <!-- <div id="overlayImage" class="overlayImage" onclick="closeImage()"> -->
  <div id="overlayImage" class="overlayImage" onclick="closeImage()">
    <img id="enlargedImage" class="enlarged-image" />
  </div>

  <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Error al eliminar pedido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ error }} <!-- Aquí se muestra el error que pasaste desde el backend -->
        </div>
      </div>
    </div>
  </div>

</section>

  <style>
    .PrActive {
      background-color: rgb(255, 255, 255);
      color: #00095c;
    }
  </style>
{% endblock %}

{% block scripts %}

  {% if show_modal %}
  <script>
    var modal = new bootstrap.Modal(document.getElementById('errorModal'));
    modal.show();
    
    // Redirigir automáticamente después de 3 segundos (3000 milisegundos)
    setTimeout(function(){
        window.location.href = "/listado_productos";
    }, 1500);
  </script>
  {% endif %}

  <script>
    function confirmarEliminacion() {
      return confirm('¿Estás seguro que deseas eliminar este registro? Esta acción no se puede deshacer.')
    }
  </script>
  <script src="static/js/admin_productos.js"></script>
  <script src="static/js/filtroCRUDListado.js"></script>
  <script src="/static/js/imgsCRUDimagencompleta.js"></script>
{% endblock %}
