{% extends "maestra_administrador.html" %}
{% block titulo %} Imágenes de Novedad {% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/listados.css" />
{% endblock %}

{% block contenido %}
<section class="h_section" id="mainSection">
    <h2 class="fw-bolder">Gestión de Imágenes de Novedad "{{novedad[1]}}"</h2>

    <div class="row">
        <div class="col-3">
            <p class="fw-bolder lblchoosie">Filtrar por tipo de imagen</p>
            <select class="form-select choosie" aria-label="Default select example" id="tiposImgNovedad">
                <option value="0" selected>Todos</option>
                {% for tipo in tipos_img_novedad %}
                <option value="{{tipo[0]}}">{{tipo[1]}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-6">
            <a href="{{ url_for('formulario_agregar_img_novedad', novedad_id=novedad_id) }}" class="button is-success add-btn">
                <button type="button" class="main_btn">Agregar Imagen</button>
            </a>
        </div>

        <div class="col">
            <a href="{{url_for('novedades_listado')}}">
                <button class="main_btn btn_return">Volver a Listado General</button>
            </a>
        </div>
    </div>

    <div class="table-container">
        <table cellspacing="0" class="table_listado product_if">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Tipo</th>
                    <th class="opciones_column">Opciones</th>
                </tr>
            </thead>
            <tbody id="productTableBody">
                {% for img_novedad in img_novedades %}
                <tr>
                    <td class="celda_id">
                        {{ img_novedad[0] }}
                    </td>
                    <td>
                        {{ img_novedad[1] }}
                    </td>
                    <td>
                        <div class="celda_texto_bloque">
                            <img src="{{ img_novedad[2] }}" alt="Imagen de novedad" class="clickable-image">
                        </div>
                    </td>
                    <td>
                        <div data-tipo-img="{{ img_novedad[5] }}">
                            {{ img_novedad[3] }}
                        </div>
                    </td>
                    <td class="opciones_column">
                        <div class="acciones">
                            <a class="opciones_fila" href="{{ url_for('editar_img_novedad', id=img_novedad[0]) }}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <form class="opciones_fila" action="{{ url_for('eliminar_img_novedad') }}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                                <input type="hidden" name="id" id="id" value="{{ img_novedad[0] }}">
                                <input type="hidden" name="novedad_id" id="novedad_id" value="{{ novedad_id }}">
                                <button type="submit">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="overlayImage" class="overlayImage" onclick="closeImage()">
        <img id="enlargedImage" class="enlarged-image" />
    </div>

</section>

<script>
    function confirmarEliminacion() {
        return confirm('¿Estás seguro que deseas eliminar este registro? Esta acción no se puede deshacer.');
    }
</script>

<script src="/static/js/admin_novedades.js"></script>
<script src="/static/js/imgsCRUDimagencompleta.js"></script>
<script src="/static/js/filtroCRUDListado.js"></script>


{% endblock %}
