{% extends 'maestra_administrador.html' %}

{% block titulo %}
  Marcas
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/listados.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">
    <h2 class="fw-bolder">Listado de marcas</h2>
    <div class="row" id="break_nav">
      
      <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar por nombre" aria-label="Recipient's username" aria-describedby="button-addon2" />
          <button class="btn btn-outline-secondary searchi" type="button" id="button-addon2"><img src="/static/img/elementosCRUD/loupe.png" alt="buscar" class="search_loupe" /></button>
          <a href="{{ url_for('formulario_agregar_marca') }}" class="button is-success add-btn">
            <button type="button" id="add_btn">Agregar</button>
          </a>
        </div>
      </div>

    </div>

    <div class="table-container">
      <table cellspacing="0" class="table_listado product_if">
        <thead>
          <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Logo</th>
            <th>Banner</th>
            <th>Fecha Registro</th>
            <th>Disponiblidad</th>
            <th>Cant. Productos</th>
            <th>Cant. Novedades</th>
            <th class="opciones_column">Opciones</th>
          </tr>
        </thead>
        <tbody id="productTableBody">
          {% for marca in marcas %}
            <tr>
              <td>{{ marca.0 }}</td>
              <td>{{ marca.1 }}</td>

              <td>
                <div class="celda_texto_bloque">
                  {% if marca.2 %}
                    <img src="{{ marca.2 }}" alt="Logo de {{ marca.1 }}" class="clickable-image"/> <!-- Logo de la marca -->
                  {% else %}
                    <span>Sin logo</span> <!-- Texto alternativo si no hay logo -->
                  {% endif %}
                </div>
              </td>

              <td>
                <div class="celda_texto_bloque">
                  {% if marca.3 %}
                    <img src="{{ marca.3 }}" alt="Banner de {{ marca.1 }}" class="clickable-image"/> <!-- Logo de la marca -->
                  {% else %}
                    <span>Sin banner</span> <!-- Texto alternativo si no hay logo -->
                  {% endif %}
                </div>
              </td>

              <td>{{ marca.4 }}</td>

              <td>
                <div class="celda_estado">
                  {% if marca.5 == 1 %}
                    <p class="disponibilidad disp_si">Disponible</p>
                  {% else %}
                    <p class="disponibilidad disp_no">No Disponible</p>
                  {% endif %}
                </div>
              </td>

              <td>{{ marca.6 }}</td>

              <td>{{ marca.7 }}</td>

              <td class="opciones_column">
                <div class="acciones">
                  <a href="{{url_for('marca', id=marca[0])}}"><i class="fa-solid fa-eye"></i></a>
                  <a href="{{ url_for('editar_marca', id=marca.0) }}"><img src="/static/img/elementosCRUD/lapiz.png" alt="editar" /></a>
                  <form action="{{ url_for('eliminar_marca') }}" method="POST" onsubmit="return confirmarEliminacion()" id="deleteF">
                    <input type="hidden" name="id" value="{{ marca.0 }}" />
                    <button type="submit"><img src="/static/img/elementosCRUD/borrar.png" alt="borrar" /></button>
                  </form>
                </div>
              </td>

            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="overlayImage" class="overlayImage" onclick="closeImage()">
      <img id="enlargedImage" class="enlarged-image" />
    </div>

  </section>

  <style>
    .MarcActive {
      background-color: rgb(255, 255, 255);
      color: #00095c;
    }
  </style>
{% endblock %}

{% block scripts %}
  <script>
    function confirmarEliminacion() {
      return confirm('¿Estás seguro que deseas eliminar este registro? Esta acción no se puede deshacer.')
    }
  </script>
  <script src="/static/js/admin_productos.js"></script>
  <script src="/static/js/imgsCRUDimagencompleta.js"></script>
{% endblock %}
