{% extends 'maestra_administrador.html' %}

{% block titulo %}
  Listado de Tipos de Novedad
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/listados.css" />
{% endblock %}

{% block contenido %}

<section class="h_section" id="mainSection">
    <div class="row">
        <div class="col">
            <h2 class="fw-bolder">Listado de Tipos de Novedad</h2>
        </div>
    </div>

    <div class="row" id="break_nav">
        <div class="col">
            <div class="input-group">
                <a href="{{ url_for('formulario_agregar_tipo_novedad') }}" class="button is-success add-btn">
                    <button type="button" class="main_btn">Agregar</button>
                </a>
            </div>
        </div>
    </div>

    <div class="table-container">
        <table cellspacing="0" class="table_listado product_if">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo de Novedad</th>
                    <th>Disponibilidad</th>
                    <th>Cant. Novedades</th>
                    <th class="opciones_column">Acciones</th>
                </tr>
            </thead>
            <tbody id="productTableBody">
                {% for tipo_novedad in tipos_novedad %}
                <tr class="
                    {% if tipo_novedad.3 == 1 %}
                    fila_disp_si
                    {% else %}
                    fila_disp_no
                    {% endif %}
                ">
                    <td class="celda_id">{{ tipo_novedad[0] }}</td>
                    <td>{{ tipo_novedad[1] }}</td>
                    <td>
                        <div class="celda_estado">
                            {% if tipo_novedad.3 == 1 %}
                                <p class="disponibilidad disp_si">Disponible</p>
                            {% else %}
                                <p class="disponibilidad disp_no">No Disponible</p>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="celda_numero">
                            <p class="
                            {% if tipo_novedad[2] > 0 %}
                            num_cant
                            {% else %}
                            num_cero
                            {% endif %}
                            ">
                            {{ tipo_novedad[2] }}
                            </p>
                        </div>
                    </td>
                    <td class="opciones_column">
                        <div class="acciones">
                            <a class="opciones_fila" href="{{ url_for('editar_tipo_novedad', id=tipo_novedad[0]) }}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <form class="opciones_fila" action="{{ url_for('eliminar_tipo_novedad') }}" method="POST" onsubmit="return confirmarEliminacion()">
                                <input type="hidden" name="id" value="{{ tipo_novedad[0] }}">
                                <button type="submit">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </div>
                    </td>
    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>
{% endblock %}

{% block scripts %}
<script>
    function confirmarEliminacion() {
        return confirm('¿Estás seguro de que deseas eliminar este tipo de novedad? Esta acción no se puede deshacer.');
    }
</script>
{% endblock %}
