<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block titulo %}

      {% endblock %}| Domus Market
    </title>
    <link rel="shortcut icon" href="static/img/elementos/iconDomus.png" />
    <link rel="stylesheet" href="static/css/common_styles/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/common_styles/all.min.css" />
    <link rel="stylesheet" href="static/css/common_styles/fontawesome.min.css" />
    <link rel="stylesheet" href="static/css/common_styles/fonts.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administrativa/dashboard.css') }}" />

    {% block estilos %}

    {% endblock %}
  </head>

  <body class="body_section">
    <header>
      <a class="header_item" id="index_logo" href="{{ url_for('index') }}"><img class="img-fluid" id="logo_header" src="{{ url_for('static', filename=logo_foto) }}" alt="Logo" /></a>

      <div class="header_item header_option" id="header_perfil">
        <i class="fa-solid fa-user"></i>
        <p>Mi perfil</p>
        <div class="dropdown_menu" id="perfil_menu">
          <ul>
            <li>
              <a href="{{ url_for('cuenta_administrativa') }}">Gestionar cuenta</a>
            </li>
            <li>
              <a href="{{ url_for('index') }}">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <aside>
      <div id="usuario">
        <img src="{{ url_for('static', filename='img/usuario/admin.jpeg') }}" alt="Perfil" />
        <p>Nombre</p>
      </div>
      <nav class="menu_items">
        <a href="#" class="selected"><i class="fa-solid fa-house"></i> Dashboard</a>
        <a href="#"><i class="fa-solid fa-box"></i> Productos</a>
      </nav>
    </aside>

    <main>
      {% block contenido %}
        <!-- Aquí va el contenido principal -->
      {% endblock %}
    </main>

    <script src="static/js/maestra_administradora.js"></script>
  </body>
</html>
