{% extends 'maestra_perfil.html' %}

{% block titulo %}
  Detalles de Pedidos
{% endblock %}

{% block estilos_perfil %}
  <link rel="stylesheet" href="static/css/misPedidos.css" />
{% endblock %}

{% block contenido_perfil %}
  <div class="detalle">
    <!-- Recorrer todos los pedidos -->
    {% for pedido in pedidos %}

      <div class="row">
        <div class="col">
          <label for="metodo_pago">Método de Pago:</label>
          {% if pedido[3] %}
            {% for metodo in metodos %}
              {% if metodo[0] == pedido[3] %}
                <input disabled type="text" class="input" value="{{ metodo[1] }}">
                {% if metodo[2] == 0 %}
                  <p class="disponibilidad disp_no">No Disponible</p>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% else %}
            <p>No registrado</p>
          {% endif %}
        </div>

        <div class="col">
          <label for="fecha_compra">Fecha Compra:</label>
          {% if pedido[1] %}
            <input disabled type="text" class="input" value="{{ pedido[1] }}">
          {% else %}
            <p>No registrado</p>
          {% endif %}
        </div>

        <div class="col">
          <label for="total">Total:</label>
          {% if pedido[2] %}
            <input disabled type="text" class="input" value="{{ pedido[2] }}" style="font-weight: bold;">
          {% else %}
            <p>No registrado</p>
          {% endif %}
        </div>
      </div>

      <div class="table-container">
        <table class="table_listado product_if">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Imagen</th>
              <th>Disponibilidad</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <!-- Mostrar los productos de este pedido -->
            {% for producto in pedidos %}
              <tr>
                <td>
                  <div class="celda_texto_amplio">{{ producto[1] }}</div>
                </td>
                <td>
                  <div class="celda_texto_bloque">
                    <img src="{{ producto[0] }}" alt="Imagen del Producto" class="clickable-image">
                  </div>
                </td>
                <td>
                  <div class="celda_estado">
                    {% if producto[5] == 1 %}
                      <p class="disponibilidad disp_si">Disponible</p>
                    {% else %}
                      <p class="disponibilidad disp_no">No Disponible</p>
                    {% endif %}
                  </div>
                </td>
                <td>
                  <div class="celda_precio">S/. {{ producto[2] }}</div>
                </td>
                <td>
                  <div class="celda_numero">{{ producto[3] }}</div>
                </td>
                <td>
                  <div class="celda_precio">S/. {{ producto[2] * producto[3] }}</div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    {% endfor %}
  </div>
{% endblock %}

{% block scripts_perfil %}
{% endblock %}
