{% extends 'maestra_perfil.html' %}

{% block estilos_perfil %}
<link rel="stylesheet" href="static/css/misPedidos_perfil.css" />
{% endblock %}

{% block contenido_perfil %}
<div class="pedidos">
  <h2>Mis Pedidos</h2>
  
  {% for pedido in detalles_pedido %}
    <div class="pedido">
      <h3>Pedido ID: {{ pedido.pedido_id }} (Fecha: {{ pedido.fecha_compra }})</h3>
      <p><strong>Método de Pago:</strong> {{ pedido.metodo }}</p>
      <p><strong>Subtotal:</strong> S/ {{ pedido.subtotal }}</p>
      
      <div class="detalles_pedido">
        <h4>Detalles del Pedido</h4>
        <ul>
          {% for detalle in pedido.detalles %}
            <li>
              <p><strong>Producto:</strong> {{ detalle.nombre }}</p>
              <p><strong>Cantidad:</strong> {{ detalle.cantidad }}</p>
              <p><strong>Precio:</strong> S/ {{ detalle.menor_precio }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts_perfil %}
<script>
</script>
{% endblock %}
