{% extends "maestra_general.html" %}

{% block titulo %} 
    Sobre Nosotros 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/nosotros.css">
{% endblock %}

{% block contenido %}
    <section class="body_page">
        <h1>Nuestra historia</h1>

        <p>
            {{info_domus.5}}
        </p>
        
        <div class="imagen_Historia">   
            <img src="static/img/nosotros/nosotros_2.jpeg" alt="chico" class="historia">
            <img src="static/img/nosotros/nosotros_1.jpeg" alt="programar" class="historia"> 
            <img src="static/img/nosotros/nosotros_3.jpeg" alt="chica" class="historia">
        </div>
        
        <p>
            {{info_domus.6}}
        </p>
        
        <div class="cajas">
            <div class="caja-pergamino">
                <h3>Visión</h3>
                <div class="contenido-pergamino">
                   <img src="static/img/iconos/pergamino.png" alt="pergamino" class="pergamino">
                   <p>
                        {{info_domus.7 | safe}}
                   </p>
                </div>
            </div>
            <div class="caja-pergamino">
                <h3>Valores</h3>
                <div class="contenido-pergamino">
                    <img src="static/img/iconos/pergamino.png" alt="pergamino" class="pergamino">
                    <p>
                        {{info_domus.8 | safe}}
                   </p>
                </div>
            </div>
            <div class="caja-pergamino">
                <h3>Misión</h3>
                <div class="contenido-pergamino">
                    <img src="static/img/iconos/pergamino.png" alt="pergamino" class="pergamino">
                    <p>
                        {{info_domus.9 | safe}}
                   </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %} 
{% endblock %}