{% extends "maestra_general.html" %}

{% block titulo %} 
    Novedades 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="/static/css/novedades.css">
    <link rel="stylesheet" href="/static/css/stylesProductCard.css">
{% endblock %}

{% block contenido %}
    <main id="anunciosM">
        <h1 id="h1PROM" style="color: black; font-size: 50px; margin: 0; padding: 0;" class="titulo_enlace">NOVEDADES </h1>
        {% if novedades_anun %}
        <section id="anuncios">
            <a href="{{url_for('anuncios')}}" class="titulo_enlace"> <h2>ANUNCIOS</h2> </a>
            <div class="promociones-grid">

                {% for imagen in novedades_anun %}
                    <a class="promocion-item
                    {% if imagen[3] == 1 or imagen[3] == 4 %}
                        hor 
                    {% else %}
                        ver
                    {% endif %}
                    " href="{{url_for('selectedNovedad', id=imagen[0])}}">
                        <img src="{{imagen[1]}}" class="" alt="{{imagen[2]}}">
                        <p>{{imagen[2]}}</p>
                    </a>
                {% endfor %}

            </div>
        </section>
        {% endif %}

        <!-- {% if productosOfertas %}
        <article id="ofertas">
            <h2>OFERTAS</h2>
            <p>Descubre las novedades que te presentamos</p>
            <div class="slider_product">
                <i class="btn_slider_product fas fa-angle-left"></i>
                <div class="list_product">
                    
                    {% for producto in productosOfertas %}

                    <div class="product">
                        <a class="product_info" href="{{url_for('producto', id=producto[0])}}">
                            <img class="product_pic"
                                src="{{ producto[7] }}"
                                alt="{{producto[1]}}">

                            <p class="product_name">
                                {{producto[1]}}
                            </p>

                            {% if producto[2] %}
                                <div class="product_price price_regular">
                                    <p class="product_price_title">
                                        Regular
                                    </p>
                                    <p class="product_price_number">
                                        S/. {{  producto[2] | int  }}
                                        <sup>.{{ "{:.2f}".format(producto[2]).split('.')[1] }}</sup>
                                    </p>
                                </div>
                            {% endif %}

                            <div class="product_price price_online">
                                <p class="product_price_title">
                                    Online
                                </p>
                                <p class="product_price_number">
                                    S/. {{ producto[3] | int }}
                                    <sup>.{{ "{:.2f}".format(producto[3]).split('.')[1] }}</sup>
                                </p>
                            </div>

                            {% if producto[4] %}
                                <div class="product_price price_for_sale">
                                    <p class="product_price_title">
                                        Oferta
                                    </p>
                                    <p class="product_price_number">
                                        S/. {{ producto[4] | int }}
                                        <sup>.{{ "{:.2f}".format(producto[4]).split('.')[1] }}</sup>
                                    </p>
                                </div>
                            {% endif %}


                        </a>
                        <div class="product_option product_option_fav button" id="heart">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <form class="product_form_add" action="{{url_for('agregar_carrito')}}" method="post">
                            <input type="hidden" name="producto_id" value="{{producto.0}}" data-product-id="{{ producto.0 }}" />
                            <button type="submit" class="product_option product_option_add" id="cant_aumentar">
                              <i class="fa-solid fa-plus"></i>
                            </button>
                        </form>
                    </div>

                    {% endfor %}

                </div>
                <i class="btn_slider_product fas fa-angle-right"></i>
            </div>
        </article>
        {% endif %} -->

        {% if novedades_promo %}
        <section id="promociones">
           <a href="{{url_for('promociones')}}" class="titulo_enlace"><h2>PROMOCIONES</h2></a> 
            <p>Descubre todas nuestras promociones</p>
            <div class="promociones-grid">

                {% for imagen in novedades_promo %}
                    <a class="promocion-item
                    {% if imagen[3] == 1 or imagen[3] == 4 %}
                        hor 
                    {% else %}
                        ver
                    {% endif %}
                    " href="{{url_for('selectedNovedad', id=imagen[0])}}">
                        <img src="{{imagen[1]}}" class="" alt="{{imagen[2]}}">
                        <p>{{imagen[2]}}</p>
                    </a>
                {% endfor %}

            </div>
        </section>
        {% endif %}

        {% if novedades_avis %}
        <section id="promociones">
           <a href="{{url_for('avisos')}}" class="titulo_enlace"><h2>AVISOS</h2></a> 
            <p>Descubre todas nuestras promociones</p>
            <div class="promociones-grid">

                {% for imagen in novedades_avis %}
                    <a class="promocion-item
                    {% if imagen[3] == 1 or imagen[3] == 4 %}
                        hor 
                    {% else %}
                        ver
                    {% endif %}
                    " href="{{url_for('selectedNovedad', id=imagen[0])}}">
                        <img src="{{imagen[1]}}" class="" alt="{{imagen[2]}}">
                        <p>{{imagen[2]}}</p>
                    </a>
                {% endfor %}

            </div>
        </section>
        {% endif %}
    </main>
{% endblock %}

{% block scripts %} 
    <script src="static/js/scriptListProduct.js"></script>
{% endblock %}