{% extends "maestra_general.html" %}

{% block titulo %} 
    Novedades 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/anuncios.css">
    <link rel="stylesheet" href="static/css/novedades.css">
    <link rel="stylesheet" href="static/css/stylesProductCard.css">
{% endblock %}

{% block contenido %}
    <main id="anunciosM">
        
        <section id="anuncios">
            <h1 id="h1PROM" style="color: black; ">NOVEDADES </h1>
            <a href="{{url_for('anuncios')}}"> <h2 >ANUNCIOS</h2> </a>
            <div class="anuncios-grid">
                <div class="anuncio-item grande">
                    <h3>¡SORTEO!</h3>
                    <p>Gana un iPhone 15 Pro y 2 camisetas oficiales</p>
                    <img src="img/anuncios/sorteo.png" alt="Sorteo">
                    <p class="sorteo-fecha">Sorteo 20 de Junio</p>
                    <p class="vigencia">Vigencia de 5 al 20 de junio</p>
                </div>
                <div class="anuncio-item">
                    <h3>DIOR</h3>
                    <p>Feliz día papá</p>
                    <img src="img/anuncios/Colonia.png" alt="Dior">
                </div>
                <div class="anuncio-item">
                    <h3>INDEX</h3>
                    <p>Abrigos</p>
                    <img src="img/anuncios/abrigos.png" alt="Index">
                </div>
                <div class="anuncio-item">
                    <h3>¡Paga tus compras en cuotas!</h3>
                    <img src="img/anuncios/cuotealo.png" alt="Cuotealo">
                </div>
            </div>
        </section>

        <section id="delivery">
            <h2 class="delivery">DELIVERY 24 HORAS EN ALIMENTOS Y HOGAR</h2>
        </section>
        
        <article id="ofertas">
            <h2>OFERTAS</h2>
            <p>Descubre las novedades que te presentamos</p>
            <div class="slider_product">
                <i class="btn_slider_product fas fa-angle-left"></i>
                <div class="list_product">
                    
                    {% for producto in productosOfertas %}

                    <div class="product">
                        <a class="product_info" href="{{url_for('producto', id=producto[0])}}">
                            <img class="product_pic"
                                src="{{ producto[7] }}"
                                alt="{{producto[1]}}">

                            <p class="product_name">
                                {{producto[1]}}
                            </p>

                            {% if producto[2] %}
                                <div class="product_price price_regular">
                                    <p class="product_price_title">
                                        Regular
                                    </p>
                                    <p class="product_price_number">
                                        S/. {{  producto[2] | int  }}
                                        <sup>.{{ "{:.2f}".format(producto[2]).split('.')[1] }}</sup>
                                    </p>
                                </div>
                            {% endif %}

                            <div class="product_price price_online">
                                <p class="product_price_title">
                                    Online
                                </p>
                                <p class="product_price_number">
                                    S/. {{ producto[3] | int }}
                                    <sup>.{{ "{:.2f}".format(producto[3]).split('.')[1] }}</sup>
                                </p>
                            </div>

                            {% if producto[4] %}
                                <div class="product_price price_for_sale">
                                    <p class="product_price_title">
                                        Oferta
                                    </p>
                                    <p class="product_price_number">
                                        S/. {{ producto[4] | int }}
                                        <sup>.{{ "{:.2f}".format(producto[4]).split('.')[1] }}</sup>
                                    </p>
                                </div>
                            {% endif %}


                        </a>
                        <div class="product_option product_option_fav button" id="heart">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <form class="product_form_add" action="{{url_for('agregar_carrito')}}" method="post">
                            <input type="hidden" name="producto_id" value="{{producto.0}}" data-product-id="{{ producto.0 }}" />
                            <button type="submit" class="product_option product_option_add" id="cant_aumentar">
                              <i class="fa-solid fa-plus"></i>
                            </button>
                        </form>
                    </div>

                    {% endfor %}

                </div>
                <i class="btn_slider_product fas fa-angle-right"></i>
            </div>
        </article>

        <section id="promociones">
           <a href="{{url_for('promociones')}}"><h2>PROMOCIONES</h2></a> 
            <p>Descubre todas nuestras promociones</p>
            <div class="promociones-grid">
                <div class="promocion-item grande">
                    <h3>Hasta</h3>
                    <h2>20% dscto</h2>
                    <p>en yogures laive</p>
                    <img src="img/productos/laive.png" alt="Yogures Laive">
                </div>
                <div class="promocion-item">
                    <h2>40% dscto</h2>
                    <p>en comida para mascotas</p>
                    <img src="img/productos/mascotas.png" alt="Comida para Mascotas">
                </div>
                <div class="promocion-item">
                    <h2>3X2</h2>
                    <p>en shampoos Head & Shoulders</p>
                    <img src="img/productos/shampoo.png" alt="Shampoo">
                </div>
                <div class="promocion-item">
                    <h2>15% dscto</h2>
                    <p>en todo Lego</p>
                    <img src="img/productos/lego.png" alt="Lego">
                </div>
                <div class="promocion-item">
                    <h2>Desde S/.20</h2>
                    <p>en polos INDEX</p>
                    <img src="img/productos/polos.png" alt="Polos INDEX">
                </div>
            </div>
        </section>
        
    </main>
{% endblock %}

{% block scripts %} 
    <script src="static/js/scriptListProduct.js"></script>
{% endblock %}