{% extends "maestra_general.html" %}

{% block titulo %} 
    Nuestras Marcas
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/stylesCatalogue.css">
    <link rel="stylesheet" href="static/css/stylesBrands.css">
    <link rel="stylesheet" href="static/css/styles.css">
{% endblock %}

{% block contenido %}
    <section class="body_page">
        <article class="article_brands_gallery">
            <h1 class="title1_1">
                MARCAS CON LAS QUE TRABAJAMOS
            </h1>
            <div class="catalogue_content catalogue_brand">
                <div class="ctlg_order">
                    <div class="ctlg_select">
                        <p>Ordenar por:</p>
                        <select id="ctlg_products_order" name="order">                                    
                            <option value="1">Más Recientes</option>
                            <option value="2">Más Populares</option>
                            <option value="3">A - Z</option>
                            <option value="4">Z - A</option>
                        </select>
                    </div>
    
                    <div class="ctlg_pagination">
                        <p class="page-item previous-page disable">
                            <a class="page-link" href="#">
                                <i class="fa-solid fa-caret-left"></i>
                            </a>
                        </p>
                        <p class="page-item dots">
                            <a class="page-link" href="#">1</a>
                        </p>
                        <p class="page-item dots">
                            <a class="page-link" href="#">...</a>
                        </p>
                        <p class="page-item current-page">
                            <a class="page-link" href="#">5</a>
                        </p>
                        <p class="page-item current-page">
                            <a class="page-link" href="#">6</a>
                        </p>
                        <p class="page-item dots">
                            <a class="page-link" href="#">...</a>
                        </p>
                        <p class="page-item next-page">
                            <a class="page-link" href="#">
                                <i class="fa-solid fa-caret-right"></i>
                            </a>
                        </p>                    
                    </div>
                </div>
                <div class="gallery_brand">
                    
                    {% for marca in marcas %}
                    <a class="brand_picture" href="{{url_for('marca', id=marca[0])}}">
                        <img class="brand_logo" src="{{ marca[2] }}" alt="{{ marca[1] }}">
                        <p class="brand_name">
                            {{marca[1]}}
                        </p>
                    </a>
                    {% endfor %}

                </div>
                <!-- <div class="ctlg_pagination">
                    <p class="page-item previous-page disable">
                        <a class="page-link" href="#">
                            <i class="fa-solid fa-caret-left"></i>
                        </a>
                    </p>
                    <p class="page-item dots">
                        <a class="page-link" href="#">1</a>
                    </p>
                    <p class="page-item dots">
                        <a class="page-link" href="#">...</a>
                    </p>
                    <p class="page-item current-page">
                        <a class="page-link" href="#">5</a>
                    </p>
                    <p class="page-item current-page">
                        <a class="page-link" href="#">6</a>
                    </p>
                    <p class="page-item dots">
                        <a class="page-link" href="#">...</a>
                    </p>
                    <p class="page-item next-page">
                        <a class="page-link" href="#">
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                    </p>                    
                </div> -->
            </div>
            
        </article> 
    </section>
{% endblock %}

{% block scripts %} 
    <script src="static/js/scriptBrands.js"></script>
{% endblock %}



