{% extends "maestra_general.html" %}

{% block titulo %} 
    Nuestras Marcas
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/stylesCatalogue.css">
    <link rel="stylesheet" href="static/css/stylesBrands.css">
    <link rel="stylesheet" href="static/css/styles.css">
{% endblock %}

{% block contenido %}
    <section class="body_page">
        <article class="article_brands_gallery">
            <h1 class="title1_1">
                MARCAS CON LAS QUE TRABAJAMOS
            </h1>
            <div class="catalogue_content catalogue_brand">
                <div class="ctlg_order">
                    <div class="ctlg_select">
                        <p>Ordenar por:</p>
                        <select id="ctlg_products_order" name="order">                                    
                            <option value="1">Más Populares</option>
                            <option value="2">Más Recientes</option>
                            <option value="3">Mejores Descuentos</option>
                            <option value="4">Mejores Calificaciones</option>
                            <option value="5">Desde el Menor Precio</option>
                            <option value="6">Desde el Mayor Precio</option>
                            <option value="7">A - Z</option>
                            <option value="8">Z - A</option>
                        </select>
                    </div>
    
                    <div class="ctlg_pagination">
                        <i class="fa-solid fa-caret-left"></i>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                </div>
                <div class="gallery_brand">
                    
                    {% for marca in marcas %}
                    <a class="brand_picture" href="{{url_for('marca', id=marca[0])}}">
                        <img class="brand_logo" src="{{ marca[2] }}" alt="{{ marca[1] }}">
                        <p class="brand_name">
                            {{marca[1]}}
                        </p>
                    </a>
                    {% endfor %}

                </div>
                <div class="ctlg_pagination">
                    <i class="fa-solid fa-caret-left"></i>
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                    <p>6</p>
                    <p>7</p>
                    <i class="fa-solid fa-caret-right"></i>
                </div>
            </div>
            
        </article> 
    </section>
{% endblock %}





