{% extends 'maestra_perfil.html' %}

{% block estilos_perfil %}

{% endblock %}

{% block contenido_perfil %}
  <div class="detalle">
    <div class="datos_perfil">
      <strong>Nombres:</strong>
      <p>{{ usuario.1 }}</p>
    </div>

    <div class="datos_perfil">
      <strong>Apellidos:</strong>
      <p>{{ usuario.2 }}</p>
    </div>

    <div class="datos_perfil">
      <strong>Género:</strong>
      {% if usuario.5 == 1 %}
        <p>Masculino</p>
      {% else %}
        <p>Femenino</p>
      {% endif %}
    </div>

    <div class="datos_perfil">
      <strong>Fecha de nacimiento:</strong>
      <p>{{ usuario.6 }}</p>
    </div>

    <div class="datos_perfil">
      <strong>Teléfono:</strong>
      <p>{{ usuario.7 }}</p>
    </div>

    <div class="datos_perfil">
      <strong>Documento de identidad:</strong>
      <p>{{ usuario.3 }}</p>
    </div>

    <div class="datos_perfil">
      <strong>Email:</strong>
      <p>{{ usuario.8 }}</p>
    </div>
  </div>
{% endblock %}

{% block scripts_perfil %}

{% endblock %}
