{% extends 'maestra_general.html' %}

{% block titulo %}
  Perfil del Usuario
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/perfil.css" />
{% endblock %}

{% block contenido %}
<section class="body_page">
    <div class="contenedor_perfil">
        <aside class="aside_perfil">
            <div class="profile">
                <img src="{{ usuario.img_usuario }}" alt="Foto de perfil del usuario" id="foto_perfil">
                <h2>¡Hola, {{ usuario.nombres }}!</h2>
            </div>
            <div id="opciones_perfil">
                <a href="{{ url_for('perfil', user_id=user_id) }}" class="opcion_perfil">
                    <img src="{{ url_for('static', filename='img/iconos/user.png') }}" alt="Icono de perfil" class="img_perfil">
                    <p>Mi perfil</p>
                    <img src="{{ url_for('static', filename='img/iconos/flecha.png') }}" alt="Flecha de navegación" class="flecha">
                </a>


                <div class="opcion_perfil" data-bs-toggle="modal" data-bs-target="#modalCerrarSesion">
                    <img src="{{ url_for('static', filename='img/iconos/cerrar.png') }}" alt="Icono de cierre de sesión" class="img_perfil">
                    <p>Cerrar sesión</p>
                    <img src="{{ url_for('static', filename='img/iconos/flecha.png') }}" alt="Flecha de navegación" class="flecha">
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modalCerrarSesion" tabindex="-1" aria-labelledby="modalCerrarSesionLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalCerrarSesionLabel">Confirmación de cierre</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>¿Estás seguro de que quieres cerrar sesión?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="confirmarCierreSesion" onclick="location.href='{{ url_for('logout') }}';">Confirmar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <main class="main_perfil">
            <div class="header_perfil">
                <h1>Perfil</h1>
            </div>
            <hr>
            <!-- contenido propio -->
            <div class="profile-details">
                <div class="detalle">
                    <div class="datos_perfil">
                        <strong>Nombres:</strong>
                        <p>{{ usuario.nombres }}</p>
                    </div>

                    <div class="datos_perfil">
                        <strong>Apellidos:</strong>
                        <p>{{ usuario.apellidos }}</p>
                    </div>

                    <div class="datos_perfil">
                        <strong>Documento de identidad:</strong>
                        <p>{{ usuario.doc_identidad }}</p>
                    </div>

                    <div class="datos_perfil">
                        <strong>Email:</strong>
                        <p>{{ usuario.correo }}</p>
                    </div>

                    <div class="datos_perfil">
                        <strong>Género:</strong>
                        <p>{{ usuario.genero }}</p>
                    </div>

                    <div class="datos_perfil">
                        <strong>Fecha de nacimiento:</strong>
                        <p>{{ usuario.fecha_nacimiento }}</p>
                    </div>

                    <div class="datos_perfil">
                        <strong>Teléfono:</strong>
                        <p>{{ usuario.telefono }}</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}
