{% extends "maestra_general.html" %}

{% block titulo %} 
    Reclamos 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/servicioCliente.css" />
{% endblock %}

{% block contenido %}
  <section>
      <div class="container mt-5">
          <h2 class="mb-4 text-center">Reclamos</h2>
          <div class="content">
              <p>En Domus Market, valoramos a nuestros clientes y nos esforzamos por ofrecer el mejor servicio posible. Si tienes alguna queja o reclamo, sigue el siguiente proceso:</p>
              <h4>1. Contacto Inicial</h4>
              <p>Contacta a nuestro servicio al cliente a través de servicioalcliente@domus.pe o al 074 606240 para reportar tu reclamo. Proporciona todos los detalles posibles, incluyendo tu número de pedido y una descripción del problema.</p>
              <h4>2. Revisión del Reclamo</h4>
              <p>Nuestro equipo revisará tu reclamo y te proporcionará una respuesta dentro de los 5 días hábiles. En algunos casos, puede ser necesario solicitar información adicional o pruebas para procesar tu reclamo.</p>
              <h4>3. Resolución</h4>
              <p>Una vez revisado, te ofreceremos una solución que puede incluir el reemplazo del producto, un reembolso, o cualquier otra medida correctiva que consideremos apropiada.</p>
              <h4>4. Seguimiento</h4>
              <p>Haremos un seguimiento de tu caso para asegurarnos de que estés satisfecho con la resolución. Si no estás conforme, puedes solicitar una revisión adicional.</p>
              <h4>5. Reclamaciones Formales</h4>
              <p>Si después de todos estos pasos no estás satisfecho con la resolución, puedes presentar una reclamación formal a través de las entidades correspondientes en tu localidad.</p>
          </div>
      </div>
  </section>
{% endblock %}

{% block scripts %} 
{% endblock %}
  