{% extends "maestra_general.html" %}

{% block titulo %} 
    Registrate
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="static/css/registrate.css">
{% endblock %}

{% block contenido %}
    <section class="body_page">
        <form class="formulario_registro">
            <div id="form_logo">
                <img src="static/img/elementos/iconDomus.png" alt="logo" id="logo_form">
            </div>
            <h1>¡Regístrate!</h1>
            <div id="form_content">
                <input type="text" placeholder="Nombres" required>
                <input type="text" placeholder="Apellidos" required>
                <input type="number" placeholder="Documento de identidad" id="dni" name="dni" pattern="^\d{8}$" required>
                <select>
                    <option value="" disabled selected>Género</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Fecha de nacimiento">
                <input type="tel" id="telefono" name="telefono" placeholder="Número de celular" pattern="9[0-9]{8}" required>
                <input type="email" placeholder="Correo electrónico" required>
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Confirmar contraseña">
            </div>

            <input type="submit" value="Registrate">

        </form>
    </section>
{% endblock %}

{% block scripts %}     
    <script src="static/js/registro.js"></script>
{% endblock %}