{% extends "maestra_general.html" %}

{% block titulo %} 
    {{promo[1]}}
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="/static/css/promoSelect.css">
{% endblock %}
<!-- 

                nov.`id`, 0
                nov.titulo, 1
                nov.`fecha_inicio`, 2 
                nov.`fecha_vencimiento`, 3
                nov.`terminos`, 4
                nov.`MARCAid`, 5
                nov.`SUBCATEGORIAid`, 6
                MIN(imgnov.imagen) 7

                PAPU prueba las paginas, metete a promociones y entra una por una
Voy
si 

papu, perame, toy moviendo algo

-->



{% block contenido %}   
    <main id="anunciosM">
        <section id="promotion-section">
            <a href="{{url_for('promociones')}}" class="promo-link">Ver todas las promociones</a>
            <div class="promotion">
                <div class="promo-content">
                    <img src="{{promo[7]}}" alt="Laptop Lenovo" class="promo-img">
                    <div class="promo-text">
                        <h2>{{promo[1]}}</h2>
                        <h1>{{promo[8]}}</h1>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="terms">
                <h3><i class="fa-solid fa-file-contract"></i> TÉRMINOS Y CONDICIONES</h3>
                <p>Valido desde el <b>{{promo[2]}}</b> al <b>{{promo[3]}}</b></p>
                <p>{{promo[4]}}</p>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <!-- <script src="static/js/promociones.js"></script> -->
{% endblock %}