{% extends "maestra_general.html" %}

{% block titulo %} 
    Terminos Y Condiciones 
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="css/servicioCliente.css">
{% endblock %}

{% block contenido %}
    <section class="body_page">
      <div class="container mt-5">
        <h2 class="mb-4 text-center">Términos y Condiciones</h2>
        <div class="content">
          <p>
            Bienvenido a Domus Market. Al utilizar nuestros servicios, aceptas
            los siguientes términos y condiciones:
          </p>
          <h4>1. Generalidades</h4>
          <p>
            Estos términos y condiciones regulan el uso del sitio web de Domus
            Market y la compra de productos a través del mismo.
          </p>
          <h4>2. Registro</h4>
          <p>
            Para realizar compras, debes registrarte proporcionando información
            veraz y actualizada. Es tu responsabilidad mantener la
            confidencialidad de tu cuenta.
          </p>
          <h4>3. Pedidos</h4>
          <p>
            Todos los pedidos están sujetos a disponibilidad de stock. Nos
            reservamos el derecho de cancelar o rechazar un pedido por cualquier
            motivo.
          </p>
          <h4>4. Precios y Pagos</h4>
          <p>
            Los precios están sujetos a cambios sin previo aviso. Aceptamos
            varios métodos de pago, incluyendo tarjetas de crédito y débito.
          </p>
          <h4>5. Envíos y Entregas</h4>
          <p>
            Ofrecemos envíos a nivel nacional. Los tiempos de entrega pueden
            variar según la ubicación y disponibilidad del producto.
          </p>
          <h4>6. Devoluciones y Cambios</h4>
          <p>
            Consulta nuestra política de devoluciones para más detalles sobre
            cómo devolver o cambiar un producto.
          </p>
          <h4>7. Privacidad</h4>
          <p>
            Nos comprometemos a proteger tu privacidad. Consulta nuestra
            política de privacidad para más información.
          </p>
          <h4>8. Modificaciones</h4>
          <p>
            Nos reservamos el derecho de modificar estos términos en cualquier
            momento. Los cambios serán efectivos una vez publicados en nuestro
            sitio web.
          </p>
        </div>
      </div>
    </section>
{% endblock %}

{% block scripts %} 
{% endblock %}
        
