{% extends "maestra_administrador.html" %}
{% block titulo %}
  Listado de Tipos de Imágenes de Novedad
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="static/css/administrativa/listados.css" />
{% endblock %}

{% block contenido %}
  <section class="h_section" id="mainSection">


    <h2 class="fw-bolder" style="margin-top: 0.5rem;">Tipos de Imágenes de Novedad</h2>

    <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar por nombre" aria-label="Recipient's username" aria-describedby="button-addon2" />
          <button class="btn btn-outline-secondary searchi" type="button" id="button-addon2"><img src="/static/img/elementosCRUD/loupe.png" alt="buscar" class="search_loupe" /></button>
          <a href="{{ url_for('formulario_agregar_tipo_img_novedad') }}" class="button is-success add-btn"><button type="button" id="add_btn">Agregar</button></a>
        </div>
      </div>

    
      <table border="0" cellspacing="0" cellpadding="8" class="product_if">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tipo</th>
          <th>Disponibilidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for tipo_img in tipos_img_novedad %}
        <tr>
          <td>{{ tipo_img[0] }}</td>
          <td>{{ tipo_img[1] }}</td>
          <td>{{ 'Disponible' if tipo_img[2] == 1 else 'No Disponible' }}</td>
          <!-- <td>
            <a href="{{ url_for('editar_tipo_img_novedad', id=tipo_img[0]) }}">Editar</a>
            <form action="{{ url_for('eliminar_tipo_img_novedad') }}" method="POST" style="display:inline;">
                <input type="hidden" name="id" value="{{ tipo_img[0] }}">
              <button type="submit">Eliminar</button>
            </form>
          </td> -->

          <td class="acciones">
            <a href="{{ url_for('editar_tipo_img_novedad', id=tipo_img[0]) }}">
                <img src="/static/img/elementosCRUD/lapiz.png" alt="editar">
            </a>
            <form action="{{ url_for('eliminar_tipo_img_novedad') }}" method="POST" onsubmit="return confirmarEliminacion()" style="display:inline;">
                <input type="hidden" name="id" value="{{ tipo_img[0] }}">
                <button type="submit">
                    <img src="/static/img/elementosCRUD/borrar.png" alt="borrar">
                </button>
            </form>
        </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

  </section>
{% endblock %}

{% block scripts %}
  <script>
    function confirmarEliminacion() {
      return confirm('¿Estás seguro que deseas eliminar este registro? Esta acción no se puede deshacer.')
    }
  </script>
  <script src="/static/js/admin_productos.js"></script>
{% endblock %}
