<!-- categoria -->

<article class="article_for_sale">
            <div class="for_sale_gallery">
                <img class="img-fluid img_for_sale_full" src="img/promociones/samsungProm1.png" alt="o1">
                <img class="img-fluid img_for_sale_vertical" src="img/ofertas/samsungOfer2.png" alt="o2">
                <img class="img-fluid img_for_sale_vertical" src="img/ofertas/samsungOfer3.png" alt="o4">
                <img class="img-fluid img_for_sale_horizontal" src="img/promociones/samsungProm2.png" alt="o3">
            </div>                                  
        </article>
        
    

<!-- marca -->


<article class="article_for_sale">
    <div class="for_sale_gallery">
        <img class="img-fluid img_for_sale_full" src="img/promociones/samsungProm1.png" alt="o1">
        <img class="img-fluid img_for_sale_vertical" src="img/ofertas/samsungOfer1.png" alt="o3">
        <img class="img-fluid img_for_sale_vertical" src="img/promociones/samsungProm2.png" alt="o2">
    </div>                                  
</article>




<!-- producto -->



        




